{% extends 'tray/college_homepage_layout.html'%}


{% comment %} {% block navbar %} 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li class="nav-item active">
        <a class="navbar-brand" href="{% url 'college_home' %}">Home</a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_recharge' %}">Recharge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_break_edit' %}">Edit break</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_logout' %}">Logout</a>
        </li>
        
        </ul>
        
    </div>
    </nav>
{% endblock %}

 {% endcomment %}

{% block content %}

<h2>Fee Payment Details</h2>
<br/>
<h3>Student: {{student.name}}</h3>
<h3>Semester: {{student.sem}}</h3>
<h3>Branch: {{student.branch}}</h3>


{% endblock %}


{% block footer %}
{% endblock %}