{% extends 'tray/college_homepage_layout.html'%}


{% comment %} {% block navbar %} 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li class="nav-item active">
        <a class="navbar-brand" href="{% url 'college_home' %}">Home</a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_recharge' %}">Recharge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_break_edit' %}">Edit break</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_logout' %}">Logout</a>
        </li>
        
        </ul>
        
    </div>
    </nav>
{% endblock %} {% endcomment %}



{% block content %}
<center>
<h2>{{store.store_name}} orders are:</h2>
<strong id="no_delete_condition" style="color: red;"></strong>
<br/>
<table  width="20%" >
    <thead>
        <th>
            Month
        </th>
        <th>
            Total
        </th>
    </thead>

    <tbody>
        <tr>
            <td>{{current_month}}</td>
            <td>₹ {{month_total}}</td>
        </tr>
    </tbody>
</table>
<br/>
<!--Testing daterange-->
{% load item_filters %}
{% date_range as the_days %}

{% for day in the_days %}
   
    {% order_day_checker day as is_order_day %}

        {% if is_order_day %}
               
                    <table id='table' width="50%">
                    <thead>
                        
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Buyer
                        </th>
                        <th>
                            Otp
                        </th>
                        <th>
                            tray revenue
                        </th>
                    </thead>
                
                <tbody>
                    <br/> <p>{{day.date}} </p>
                    <!--Now-->
                    {% break_checker day "Now" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">Orders now</td>
                    </tr>
                    {% endif %}  
            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Now' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" id="name" class="t">
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {{order.otp}}
                        </td>
                        <td align="center">
                            {{order.revenue}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}


                    <!--First Break-->
                    {% break_checker day "First Break" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">First Break</td>
                    </tr>
                    {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'First Break' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {{order.otp}}
                        </td>
                        <td align="center">
                            {{order.revenue}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Lunch Break-->
            {% break_checker day "Lunch Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Lunch Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Lunch Break' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {{order.revenue}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Last Break-->
            {% break_checker day "Last Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Last Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Last Break' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {{order.revenue}}
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

                
        {% endif %} 
                </tbody>
{% endfor %}
</table>

<script>

$(document).ready(function(){  

    table_grouper(3)
    follower_cell_grouper(3,2)
    //follower_cell_grouper(3,4)
    
    function table_grouper(grouping_cell){
        var table = document.getElementById('table');
        console.log(table);
        if (table  === null){
            return;
        }
        var rowLength = table.rows.length;
        console.log("rowlength: "+rowLength);
        var prev_cell = null;
        var prev_follow_cell = null;
        for(let c=2; c<rowLength; c+=1){
            var row = table.rows[c];
            var cellLength = row.cells.length;
            console.log("no of cells in row: "+ cellLength);
            var group_cell = row.cells[grouping_cell];
            if (group_cell === undefined){
                continue;
            }
            console.log(group_cell.innerText);
            console.log('rowspan of it: '+group_cell.rowSpan)

            if (prev_cell === null || group_cell.innerText !== prev_cell.innerText){
                prev_cell = group_cell;
            }
            else {
                prev_cell.rowSpan++;
                console.log('group cell: ' + group_cell)
                group_cell.remove();
            }
            console.log('rowspan final: ' + prev_cell.rowSpan)

        }//end of for loop 
    }

    function follower_cell_grouper(grouping_cell,following_cell){
        var table = document.getElementById('table');
        var rowLength = table.rows.length;
        //alert(rowLength);
        console.log('following cell:' + following_cell)
        console.log('grouping cell:' + grouping_cell)

        for(let j=2; j<rowLength; j++){
            
            var row = table.rows[j];
            var follow_cell = row.cells[following_cell];
            if (follow_cell === undefined){
                continue;
            }
            var group_cell = row.cells[grouping_cell];
            if (group_cell === undefined){
                continue;
            }
            console.log('group cell: ' + group_cell)
            if (group_cell.rowSpan > 1){
                cells_difference = group_cell.rowSpan - follow_cell.rowSpan
                console.log('cell difference:' + cells_difference)
                follow_cell.rowSpan = group_cell.rowSpan
                for(let i=j+1; i<=j+cells_difference; i++){
                    console.log('i in j: ' + i)
                    console.log('j ' + j)
                    drop_row = table.rows[i];
                    console.log('drop row: ' + drop_row)
                    drop_cell = drop_row.cells[following_cell];
                    console.log('drop cell: ' + drop_cell.innerText);
                    drop_cell.remove();
                    rowLength--;
                }
            }
            
        }
    }
            

});
</script>

</center>
{% endblock %}

{% block footer %}
{% endblock %}