{% extends "tray/base.html" %}


{% block title %} Recharge a card {% endblock %}

{% block navbar %} 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li class="nav-item active">
        <a class="navbar-brand" href="{% url 'college_home' %}">Home</a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_break_edit' %}">Edit break</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_logout' %}">Logout</a>
        </li>
        
        </ul>
        
    </div>
    </nav> 
{% endblock %}


{% block content %}

<center>
    <br/><br/><br/>
    <h2>Enter customer details</h2>
    <br/> <br/>
    <form action="/college_recharge_post/" class="form" method="POST">
        {% csrf_token %}
    <h4>Username</h4>
    <br/>
    <div>
        <input type="text" id="username" name="username" autofocus >
    </div> 
    <br/> <br/>
    <p id="incorrect_alert" style="color: rgb(245, 149, 149); font-weight: 1000; width: fit-content;" ></p>
    <input type="button" id="enter" name="enter" class="btn btn-primary" value="Enter">
    </form>
    
    <script>
        $(document).ready(function(){
        $("#enter").click(function(event){
            console.log("test on enter button");
            if ($("#username").val() == ""){
                $("#username").css("border-color","red");
                document.getElementById("incorrect_alert").innerHTML = "Please enter username."
                $('#incorrect_alert').fadeToggle(2000);
                event.preventDefault();
            }
    
            else{   
                    username = $("#username").val()
                    console.log("test on enter button in else");
        //sending form fields in ajax for checking if registered username
                $.ajax({
                    url: '/ajax/validate_recharge/',
                    data: {
                        'username': username,
                    },
                    dataType: 'json',
                    success: function (data){
                        if (data.username_status == "incorrect"){
                            alert("Sorry incorrect username");
                            //window.location.href = " ";
                            event.preventDefault();
                        }
                        if(data.username_status == "correct"){
                            $("form").submit();
                        }
    
    
                    }
                          
                });
            } 
    
        }); 
        });
            
    
    </script>
    
    
            <a href="{% url 'college_home' %}" class="btn btn-info">Back</a>
        
        
        </div>
        </div>
    
    </center>













{% endblock %}