{% extends "tray/college_homepage_layout.html" %}


{% block title %} Recharge a card {% endblock %}


{% block content %}
<script>

    
    function validateForm() {
        var email = document.forms["form"]["email"].value;
        var card_number = document.forms["form"]["card_number"].value;
        
        if (card_number == "" && email == "") {
            alert("please scan the card or add email and submit");
            return false;
        }
    }

     
    </script>



<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <br/><br/><br/>
            <h2>Enter student email or rfid card</h2>
            <br/> <br/>
            <form method="POST" name="form">
                {% csrf_token %}
            <br/>
                <!--email input-->
                <input type="email" class="form-control form-control-lg" id="email" name="email">
                <!--rfid card input-->
                <label class="form-label">Email</label>
                <br/>
                <input name="card_number" type="password" id="card_number"  class="hideme" />
               
                <br/> <br/>
                <button id="scan_card" type="button" name="scan_card" class="btn btn-success"  > Scan Card </button>
               
                <hr class="my-4">

                <input type="button" id="enter" name="enter" class="btn btn-darker" value="submit">

                {% if error %}
                <p style="color:red" >"{{ error }}"</p>
                {% endif %}
                <br/>
                <p id="alert" style="color:green" ></p>
                <p id="incorrect_alert" style="color:red" ></p>



            </form>
            
        </div>
    </div>
  </div>
</div>
</div>


    <script>
                
            

            $(document).ready(function(){
                //focus on hidden card field to enter scan the card
                $("#scan_card").click(function(event){
                    document.getElementById("card_number").focus();
                });
                //on entering input to card field show message as card received
                $('#card_number').on('input', function() {
                    text = $('#card_number').val();
                    document.getElementById("alert").innerHTML = "Card received please click submit";
                });

                $("#enter").click(function(event){
                    console.log("test on enter button");
                    if (  $("#email").val() == "" && $("#card_number").val() == "" ) {
                        document.getElementById("incorrect_alert").innerHTML = "Please enter email or scan card and submit"
                        event.preventDefault();
                    }
            
                    else{   
                            email = $("#email").val()
                            card = $("#card_number").val()
                            console.log("test on enter button in else");
                         //sending form fields in ajax for checking if registered email
                            $.ajax({
                                url: '/ajax/validate_recharge/',
                                data: {
                                    'email': email,
                                    'card' : card,
                                },
                                dataType: 'json',
                                success: function (data){
                                    if (data.status == "card incorrect"){
                                        alert("Sorry incorrect card please try again");
                                        location.reload();
                                        event.preventDefault();
                                    }
                                    if (data.status == "email incorrect"){
                                        alert("Sorry incorrect email please try again");
                                        event.preventDefault();
                                    }
                                    if (data.status == "both email and card incorrect"){
                                        alert("Sorry incorrect email and card please try again");
                                        event.preventDefault();
                                    }
                                    if(data.status == "card correct" || data.status == "email correct"){
                                        $("form").submit();
                                    }
                
                
                                }
                                    
                            });
                    } 
            
                }); 



                

            });

                  
                    
    
    </script>
    
    
            <!--a type="button" href="{% url 'college_home' %}" class="btn btn-darker">Back</a-->
        
        














{% endblock %}

{% block footer %} {% endblock %}