{% extends 'tray/college_homepage_layout.html'%}




{% block content %}






<h2>Alltray Revenue Student list:</h2>


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        
          <div class="card-body p-5 text-center">

            <div class="input-box">
                <form id="search_form" action="/college_alltray_revenue_student_list_search/">
                <input type="text" class="form-control" placeholder= "search name" id="search_input" name="search_input">
                <i class="fa fa-search" id="search"></i> 
                </form>   
                <p id="alerter"></p>  
                {% if search_status %}
                <p>{{search_status}}<p>     
                {% endif %}         
            </div>
            
        </div>
    
  </div>
</div>
</div>

<strong id="no_delete_condition" style="color: red;"></strong>

<!--Testing daterange-->
{% load item_filters %}


<table id='table' width="50%">
    <thead>
        <th>
            Student
        </th>
        <th>
            Revenue Details
        </th>
    </thead>
    <tbody>
        {% for student in students %}                
            <tr height="50px" id="{{order.id}}">
                <td align="center">
                    {{student.name}}
                </td>
                <td align="center">
                    <a href="{% url 'college_alltray_revenue_student_details'  student.id %}">Revenue details</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if student_page_object.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ student_page_object.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ student_page_object.number }} of {{ student_page_object.paginator.num_pages }}.
        </span>

        {% if student_page_object.has_next %}
            <a href="?page={{ student_page_object.next_page_number }}">next</a>
            <a href="?page={{ student_page_object.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}


{% block footer %}



<script>
    $(document).ready(function(){
    
        search_field = document.getElementById("search_input")
        {% if search_name %}
        search_field.value = "{{search_name}}"
        {% endif %}
        search_form = document.getElementById("search_form")
        $('#search').click(function () {
            if (search_field.value != ""){
                search_form.submit()
            }
            else{
                //window.location.href = "/store_order_list"
            }
        });
    });
        
       
    
</script>



{% endblock %}