{% extends "tray/base.html" %}

{% block navbar %} 
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
    <li class="nav-item">
        <a class="nav-item" href="{% url 'college_break_edit' %}">Edit break</a><span>" "</span>
        <a class="nav-item" href="{% url 'college_logout' %}">Logout</a>
    </li>
</nav>
{% endblock %}



{% block title%} Tray  {% endblock %}


{% block content %}
<script type="text/javascript"> 
    //prevent navigating back to login
        function preventBack() { 
            window.history.forward();  
        } 
          
        setTimeout("preventBack()", 0); 
          
        window.onunload = function () { null }; 
</script> 
        <p>Welcome {{college.institute_name}}</p>

        <br/>
        
        
        <form action="/college_store_order_list_post/" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
            {% for store in stores %}
                <button type="submit" id="store_button" class="btn btn-outline-dark" name="store_id" value="{{store.id}}"> 
                    <strong style="font-size: 20px;">{{store.store_name}} </strong> <br/> 
                    {% if store.store_status %}<span style="color: rgb(132, 199, 123);">(Open now) </span> <br/>
                    {% else %}<span style="color: rgb(218, 106, 98);">(Closed now)</span>  {% endif %} <br/>
                    {{store.store_details}}
                </button>
                <!--input type="submit" name="" value="{{store.store_name}}" class="button store-button" type="button"-->
                <!--input type="hidden" name="store_name" value="{{store.store_name}}"-->
            {% endfor %}
        </div>
        </div>
        </div>
     </form>

{% endblock %}