{% extends "tray/college_homepage_layout.html" %}


{% block title %} Edit Break {% endblock %}

{% comment %} {% block navbar %} 

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li class="nav-item active">
        <a class="navbar-brand" href="{% url 'college_home' %}">Home</a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_recharge' %}">Recharge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'college_logout' %}">Logout</a>
        </li>
        
        </ul>
        
    </div>
    </nav> 

{% endblock %} {% endcomment %}



{% block content %}
<center>



<h2>Edit Break</h2>
<br/>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
    <form action="/college_break_edit_post/" method="POST" name="form" >
    {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="time" class="form-control form-control-lg" id="first_break" name="first_break" required>
            <label class="form-label">First Break</label>
        </div>

        <div class="form-outline mb-4">
            <input type="time" class="form-control form-control-lg" id="lunch_break" name="lunch_break" required>
            <label class="form-label">Lunch Break</label>
        </div>

        <div class="form-outline mb-4">
            <input type="time" class="form-control form-control-lg" id="last_break" name="last_break" required>
            <label class="form-label">Last Break</label>
        </div>
        
        <input type="submit" class="btn btn-darker" >
    </form>
          </div>
        </div>
      </div>
    </div>
</div>


        <a href="{% url 'college_home' %}" class="btn btn-info">Back</a>


</center>


<script>
    editTimeShow()
    function editTimeShow() {
      document.getElementById("first_break").value = "{{first_break}}";
      document.getElementById("lunch_break").value = "{{lunch_break}}";
      document.getElementById("last_break").value = "{{last_break}}";
    }


</script>


{% endblock %}