<!DOCTYPE html>
{% extends "tray/college_homepage_layout.html" %}





{% block title%} Subscription Form  {% endblock %}


{% block content %}




    <h2>Subscription Form</h2>
    {% if error %}
    <h3>{{ error }}</h3>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="hideme">
        <h3>Plan type</h3>
        <div class="form-check">
            <input class="form-check-input" value="basic" type="radio" name="plan_type" id="plan_basic" checked>
            <label class="form-check-label" for="flexRadioDefault1">
            Basic
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" value="standard" type="radio" name="plan_type" id="plan_standard" >
            <label class="form-check-label" for="flexRadioDefault2">
            Standard
            </label>
        </div>
    </div>
        <br/><br/>
        <label id="amount" for="amount"> Monthly amount after free trial of 2 months </label>
        <br/>
        <h4 id="plan_amount">Monthly student revenue<br/>(1% of daily transaction)</h4>
        <input type="hidden" id="plan_type" name="plan_type" value="basic">
        <br/><br/>
        <input type="submit" class="btn btn-success" name="submit" value="Submit" required>
    </form>


    

    <script>
        $(document).ready(function(){ 
            $('#plan_basic').click(function () {
                console.log("clicked")
                document.getElementById('plan_amount').innerHTML = "Monthly student revenue"+"<br/>"+ "(1% of daily transaction)";
                document.getElementById('plan_type').value = "basic"
            });
            $('#plan_standard').click(function () {
                console.log("clicked")
                document.getElementById('plan_amount').innerHTML = "Monthly student revenue"+"<br/>"+ "(1% of daily transaction)" + "+ ₹{{standard_cost}}";
                document.getElementById('plan_type').value = "standard"
            });
        });
    </script>



        
{% endblock %}
{% block footer %}
{% endblock %}