{% extends 'tray/college_homepage_layout.html'%}


{% block content %}
<center>
<h2>{{store.store_name}} orders are:</h2>
<strong id="no_delete_condition" style="color: red;"></strong>
<br/>
<table  width="20%" >
    <thead>
        <th>
            Month
        </th>
        <th>
            Total
        </th>
    </thead>

    <tbody>
        <tr>
            <td>{{current_month}}</td>
            <td>₹ {{month_total}}</td>
        </tr>
    </tbody>
</table>
<br/>
{% comment %} NEW LOGIC FOR GROUPING {% endcomment %}

{% regroup page_order_list by created_at|date:"Y-m-d" as objects_by_day %}
{% for day in objects_by_day %}
<br/><br/>
<p>{{day.grouper}}</p>
    <table id='table' width="50%">
        <thead>
            <th>
                Item
            </th>
            <th>
                Quantity
            </th>
            <th>
                Buyer
            </th>
            <th>
                Otp
            </th>
            <!--th>
                tray revenue
            </th-->
        </thead>
    
        {% regroup day.list by pickup_time as order_list %}
            {% for order in order_list %}
            <tbody>
                <tr>
                    <td colspan=5 align="center" style="background-color: #4eb7d4;"><strong>{{order.grouper}} </strong></td>
                </tr>
                {% for o in order.list %}
               
                <tr height="50px" id="{{o.id}}">
                    <td align="center">
                        {{o.item}}
                    </td>
                    <td align="center">
                        {{o.quantity}}
                    </td>
                    <td align="center" id="name" class="t">
                        {{o.student.name}}
                    </td>
                    <td align="center">
                        {{o.otp}}
                    </td>
                    <!--td align="center">
                        {{o.revenue}}
                    </td-->
                </tr>
                
            </tbody>

                {% endfor %}
                {% endfor %}
        </table>
            {% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if page_order_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_order_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_order_list.number }} of {{ page_order_list.paginator.num_pages }}.
        </span>

        {% if page_order_list.has_next %}
            <a href="?page={{ page_order_list.next_page_number }}">next</a>
            <a href="?page={{ page_order_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>

$(document).ready(function(){  

    //table_grouper(3)
    //follower_cell_grouper(3,2)
    //follower_cell_grouper(3,4)
    
    function table_grouper(grouping_cell){
        var table = document.getElementById('table');
        console.log(table);
        if (table  === null){
            return;
        }
        var rowLength = table.rows.length;
        console.log("rowlength: "+rowLength);
        var prev_cell = null;
        var prev_follow_cell = null;
        for(let c=2; c<rowLength; c+=1){
            var row = table.rows[c];
            var cellLength = row.cells.length;
            console.log("no of cells in row: "+ cellLength);
            var group_cell = row.cells[grouping_cell];
            if (group_cell === undefined){
                continue;
            }
            console.log(group_cell.innerText);
            console.log('rowspan of it: '+group_cell.rowSpan)

            if (prev_cell === null || group_cell.innerText !== prev_cell.innerText){
                prev_cell = group_cell;
            }
            else {
                prev_cell.rowSpan++;
                console.log('group cell: ' + group_cell)
                group_cell.remove();
            }
            console.log('rowspan final: ' + prev_cell.rowSpan)

        }//end of for loop 
    }

    function follower_cell_grouper(grouping_cell,following_cell){
        var table = document.getElementById('table');
        var rowLength = table.rows.length;
        //alert(rowLength);
        console.log('following cell:' + following_cell)
        console.log('grouping cell:' + grouping_cell)

        for(let j=2; j<rowLength; j++){
            
            var row = table.rows[j];
            var follow_cell = row.cells[following_cell];
            if (follow_cell === undefined){
                continue;
            }
            var group_cell = row.cells[grouping_cell];
            if (group_cell === undefined){
                continue;
            }
            console.log('group cell: ' + group_cell)
            if (group_cell.rowSpan > 1){
                cells_difference = group_cell.rowSpan - follow_cell.rowSpan
                console.log('cell difference:' + cells_difference)
                follow_cell.rowSpan = group_cell.rowSpan
                for(let i=j+1; i<=j+cells_difference; i++){
                    console.log('i in j: ' + i)
                    console.log('j ' + j)
                    drop_row = table.rows[i];
                    console.log('drop row: ' + drop_row)
                    drop_cell = drop_row.cells[following_cell];
                    console.log('drop cell: ' + drop_cell.innerText);
                    drop_cell.remove();
                    rowLength--;
                }
            }
            
        }
    }
            

});
</script>

</center>
{% endblock %}

{% block footer %}
{% endblock %}