<!DOCTYPE html>
{% extends "tray/college_homepage_layout.html" %}




{% block title%} Response Details   {% endblock %}

{% block content %}

    <h2>Response Details: </h2>                    <br>



<script>


      if ('{{result}}' == "True"){
        Swal.fire(
          'Subscription Successful!',
          '<p>the subscription student revenue will be charged each month on this date from your account<p>',
          'success'
          ).then(function() {
            window.location.href = "/home";
        });
      }
      if ('{{result}}' == "False"){
        Swal.fire(
          'Recharge Failed!',
          '<p>Please try again or contact alltray<p>',
          'error'
          ).then(function() {
            window.location.href = "/home";
        });
      }
      if ('{{result}}' == "fail"){
        Swal.fire(
          'Oops!',
          '<p>Something broke down, try again or please contact alltray<p>',
          'error'
          ).then(function() {
            window.location.href = "/college_home";
        });
      }
      
      </script>

{% endblock %}

{% block footer %}
{% endblock %}