{% extends "tray/base.html" %}


{% block title %} Recharge a card {% endblock %}

{% block content %}

<center>
    <br/><br/><br/>
    <h3><strong>Enter customer's username</strong></h3>
    <br/> <br/>
    <form action="/college_recharge_post/" class="form" method="POST">
        {% csrf_token %}
    <label>Username</label>
    <br/>
    <div>
        <input type="text" id="username" name="username" autofocus >
    </div> 
    <br/> <br/>
    <p id="incorrect_alert" style="color: rgb(245, 149, 149); font-weight: 1000; width: fit-content;" ></p>
    <input type="button" id="enter" name="enter" class="btn btn-primary" value="Enter">
    </form>
    
    <script>
        $(document).ready(function(){
        $("#enter").click(function(event){
            console.log("test on enter button");
            if ($("#username").val() == ""){
                $("#username").css("border-color","red");
                document.getElementById("incorrect_alert").innerHTML = "Please enter username."
                $('#incorrect_alert').fadeToggle(2000);
                event.preventDefault();
            }
    
            else{   
                    username = $("#username").val()
                    console.log("test on enter button in else");
        //sending form fields in ajax for checking if registered username
                $.ajax({
                    url: '/ajax/validate_recharge/',
                    data: {
                        'username': username,
                    },
                    dataType: 'json',
                    success: function (data){
                        if (data.username_status == "incorrect"){
                            alert("Sorry incorrect username");
                            //window.location.href = " ";
                            event.preventDefault();
                        }
                        if(data.username_status == "correct"){
                            $("form").submit();
                        }
    
    
                    }
                          
                });
            } 
    
        }); 
        });
            
    
    </script>
    
    <div class="row">
        
        <div class="col-sm-5">
            <a href="{% url 'store_home' %}" class="btn btn-info">Back</a>
        </div>
        <div class="col-sm-11">
        
        </div>
        </div>
    
    </center>













{% endblock %}