{% extends 'tray/college_homepage_layout.html'%}





{% block content %}







<h2>Student: {{student.name}} alltray revenue list:</h2>
<strong id="no_delete_condition" style="color: red;"></strong>
<br/>
<table>
    <thead>
        <th>
            Month
        </th>
        <th>
            AllTray Revenue
        </th>
    </thead>

    <tbody>
        <tr>
            <td>{{current_month}}</td>
            <td>₹ {{month_revenue_total}}</td>
        </tr>
    </tbody>
</table>
<br/><br/>

{% comment %} 
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        
          <div class="card-body p-5 text-center">

            <div class="input-box">
                <form id="search_form" action="/store_order_list_search/">
                    
                <input type="text" class="form-control" placeholder= "search student name" id="search_input" name="search_input">
                <i class="fa fa-search" id="search"></i> 
                </form>   
                <p id="alerter"></p>  
                {% if search_status %}
                <p>{{search_status}}<p>     
                {% endif %}         
            </div>
            
        </div>
    
  </div>
</div>
</div> {% endcomment %}

<!--Testing daterange-->
{% load item_filters %}
{% date_range as the_days %}


<table id='table' width="50%">
    <thead>
        
        <th>
            Date
        </th>
        <th>
            Student
        </th>
        <th>
            Tray revenue
        </th>
        <th>
            Day's total purchase
        </th>
    </thead>
    <tbody>

    {% for day in the_days %}
        {% revenue_day_checker day as is_revenue_day %}

            {% if is_revenue_day %}
                    
                
                            
                    {% for revenue in page_revenues %}
                        {% if revenue.created_at.date == day.date %}
                        
                            <tr height="50px" id="{{order.id}}">
                                
                                <td align="center">
                                    {{day.date}}
                                </td>
                                <td align="center">
                                    {{revenue.student.name}}
                                </td>
                                <td align="center" id="name" class="t">
                                    {{revenue.day_revenue}}
                                </td>
                                <td align="center">
                                    {{revenue.total}}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

            {% endif %}

    {% endfor %}
    </tbody>
</table>




<div class="pagination">
    <span class="step-links">
        {% if page_revenues.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_revenues.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_revenues.number }} of {{ page_revenues.paginator.num_pages }}.
        </span>

        {% if page_revenues.has_next %}
            <a href="?page={{ page_revenues.next_page_number }}">next</a>
            <a href="?page={{ page_revenues.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock %}





{% block footer %}
{% endblock %}