{% extends 'tray/college_homepage_layout.html'%}


{% block content %}

<h2>Student Fee Payment List</h2>
<strong id="no_delete_condition" style="color: red;"></strong>



<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        
          <div class="card-body p-5 text-center">

            <div class="input-box">
                <form id="search_form" action="/college_feepayment_list_search/">
                    
                <input type="text" class="form-control" placeholder= "search student name" id="search_input" name="search_input">
                <i class="fa fa-search" id="search"></i> 
                </form>   
                <p id="alerter"></p>  
                {% if search_status %}
                <p>{{search_status}}<p>     
                {% endif %}         
            </div>
            
        </div>
    
  </div>
</div>
</div>


<!--Testing daterange-->
{% load item_filters %}


<table id='table' width="50%">
    <thead>
        <th>
            Student
        </th>
        <th>
            Fee Amount
        </th>
        <th>
            Date
        </th>
        <th>
            Details
        </th>
    </thead>
    <tbody>
        {% for feepayment in college_feepayment_list %}                
            <tr height="50px" id="{{order.id}}">
                <td align="center">
                    {{feepayment.student.name}}
                </td>
                <td align="center">
                    {{feepayment.paid_fee}}
                </td>
                <td align="center">
                    {{feepayment.created_at}}
                </td>
                <td align="center">
                    <a href="{% url 'college_feepayment_details'  feepayment.student.id %}">Student details</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<div class="pagination">
    <span class="step-links">
        {% if college_feepayment_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ college_feepayment_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ college_feepayment_list.number }} of {{ college_feepayment_list.paginator.num_pages }}.
        </span>

        {% if college_feepayment_list.has_next %}
            <a href="?page={{ college_feepayment_list.next_page_number }}">next</a>
            <a href="?page={{ college_feepayment_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>





<script>
    $(document).ready(function(){
    
        search_field = document.getElementById("search_input")
        {% if search_name %}
        search_field.value = "{{search_name}}"
        {% endif %}
        search_form = document.getElementById("search_form")
        $('#search').click(function () {
            if (search_field.value != ""){
                search_form.submit()
            }
            else{
                //window.location.href = "/store_order_list"
            }
        });
    });
        
       
    
    </script>





{% endblock %}


{% block footer %}
{% endblock %}