{% extends "tray/base.html" %}


{% block title %} Recharge a card {% endblock %}

{% block content %}

<center>
    <br/><br/><br/>
    <h3><strong>Student: {{student_name}}</strong></h3>
    <h3><strong>Balance: {{student_balance}}</strong></h3>
    <br/> <br/>
    <form action="/college_recharge_post/" class="form" method="POST">
        {% csrf_token %}
    <label>Enter Recharge amount</label>
    <br/>
    <!--class 'fixed' to hide rfid card number input field-->
    <div class="fixed">
        <input type="number" id="id_card" name="student_id" autofocus >
    </div> 
    <input type="number" id="pin" name="student_pin"> 
    <br/> <br/>
    <p id="incorrect_alert" style="color: rgb(143, 68, 68); font-weight: 1000; width: fit-content;" ></p>
    <input type="button" id="enter" class="btn btn-primary" value="Enter">
    </form>
</center>

{% endblock %}