{% extends "tray/base.html" %}
{% load static %}




                {% block heading %}
{% load crispy_forms_tags %}
{% load static %}

        
                        <div class="heading" style="text-align: center;" >
                            <h1><strong>All Tray</strong></h1>
                        </div>
                         <br/>
                        {% endblock %}
                        {% block content %}

                    <div class="form-group centered">
                
                    <center>     
                        <form action="/home_post/" class="form" method="POST" >
                            {% csrf_token %}
                            {{ form|crispy }}
                        <!--class 'fixed' to hide rfid card number input field>
                        <div class="fixed">
                            <div class="form-group">
                            <input type="number" id="id_card" name="student_id" autofocus >
                            </div>
                        </div-->
                        

                        <div class="form-group">
                            <h3>E-mail</h3>
                            <div class="container">
                                <div class="col-xs-2">
                                    <input type="text" class="form-control" id="email" name="email"><br/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <h3>Password</h3>
                            <input type="password" id="password" name="password" class="form-control"> 
                        </div>
                        <br/>
                    <!--div class="container">
                        <i>Swipe id card / enter pin</i>
                        <br/-->
                        <p id="incorrect_alert_1" style="color: rgb(131, 54, 54); font-weight: 1000; width: fit-content; display:none;" ></p>
                        <p id="incorrect_alert_2" style="color: rgb(80, 32, 32); font-weight: 1000; width: fit-content; display:none;" ></p>

                        <!--login button-->    
                            <input type="button" id="enter" value="Login" class="login-button">
                        <br/>
                        <a href={% url 'password_reset'%}>Forgot password?</a>
                        <br/>
                        <p style="font-style:unset;">Not yet started with All Tray?<br/>
                        Start now!</p>
                    </div>
                    <div class="centered">
                        <a href="{% url 'register_card' %}" class="green-button">Register</a>
                        <br/>
                    </div>
                        {%block footer%} {% endblock %}
                        </form>
                    </center>  
                </div>
            </div>
        
                   
     
    
</div>

</div>

<script>
//checking if pin or id card entered
$(document).ready(function(){

        //storing field variables to browser before reloading page
        //filling fields with values on reload
        //window.onload=set_fields();

        function checkemail(email) 
        {
            var re = /\S+@\S+\.\S+/;
            return re.test(email);
        }

        function set_fields(){
            var password = sessionStorage.getItem('password');
            if (password !== null) $('#password').val(password);
        }

        window.onbeforeunload = function() {
            sessionStorage.setItem("password", $('#password').val());
        }


    //submit click
    $("#enter").click(function(event){
        var email = $("#email").val()
        if (  email == "" || checkemail(email) == false ) {
                document.getElementById("incorrect_alert_1").innerHTML = "Please enter valid email."
                $("#email").css("border-color","red");
                //swal("Here's a message!", " Have a nice day!");  
                //swal("Oops!", "Something went wrong, you should choose again!", "error");  
                //swal("Good job!", "You clicked the button!", "success"); 

                //error shake 
                $("#email").addClass("error");
                event.preventDefault();
            }

        else if ($("#password").val() == ""){
                $("#password").css("border-color","red");
                document.getElementById("incorrect_alert_1").innerHTML = "Please enter password."
                $("#incorrect_alert_1").fadeIn(1000).delay(4000).fadeOut(1000);
                event.preventDefault();
            }
        
        /*else if ( ($("#email").val() == "" && $("#id_card").val() != "" )||( $("#email").val() =="" && $("#pin").val() != "") ) {       
                    document.getElementById("incorrect_alert_1").innerHTML = "Please enter email or refresh and swipe card first then enter email."
                    $("#incorrect_alert_1").fadeIn(1000).delay(4000).fadeOut(1000);
                    event.preventDefault();
                    console.log(email);
                    console.log(pin);
                    console.log(id_card);
                }*/

        else{
            console.log("test on enter button");
                    var email =  $("#email").val();
                    var password = $("#password").val();
                    //var id_card = $("#id_card").val();
                    console.log(email);
        //sending form fields in ajax for checking if registered pin or card
                $.ajax({
                    url: '/ajax/validate_entry/',
                    data: {
                        'email': email,
                        'password': password,
                        //'id_card': id_card,
                    },
                    dataType: 'json',
                    success: function (data){
                            if (data.incorrect_status == "wrong_email"){
                                document.getElementById("incorrect_alert_2").innerHTML = "Sorry incorrect pin or unregistered card, please register if not registered and try again"
                                //alert("Sorry non-existent user  please register if not registered and try again");
                                Swal.fire(
                                    'Oops',
                                    '<p>Sorry non-existent user.<br/>  Please register if not registered and try again<p>',
                                    'warning'
                                    ).then(function() {
                                        location.reload();
                                    });
                            }
                            if (data.incorrect_status == "incorrect_password"){
                                
                                    
                                    Swal.fire({
                                        title: 'grr!',
                                        text: 'Sorry incorrect password ;)',
                                        imageUrl: href="{% static 'tray/images/chihua.png' %}",
                                        imageWidth: 400,
                                        imageHeight: 200,
                                        imageAlt: 'Custom image',
                                        }).then(function() {
                                        location.reload();
                                    });

                            }
                            if (data.incorrect_status == "correct"){
                                $("form").submit();
                            }
                        }
                        
                });  
            }

    });  //enter button click function closing
});
        

</script>


{% endblock %}