{% extends "tray/base.html" %}

{% block title%} {% endblock %}



                {% block heading %}
<div class="row">
    
    <div class="col-md-4 left">
                <div class="heading" >
                    <br/>
                    <strong>All Tray</strong>
                </div>
                {% endblock %}
                {% block content %}
                <!--div class="left"-->
                   
                <!--{% load static %}
                <div class="w-50 p-3">
                <img src='{% static "tray/images/small_road.jpg" %}'  class="rounded float-left" alt="Responsive image">
                </div>-->

        <div class="form-group">
                    
                <form action="/home_post/" class="form" method="POST" >
                    {% csrf_token %}
                <br/>
                <Strong>Pin</strong>
                <br/>
                <!--class 'fixed' to hide rfid card number input field-->
                <div class="fixed">
                    <div class="form-group col-lg-1">
                    <input type="number" id="id_card" name="student_id" autofocus >
                    </div>
                </div> 
                <input type="number" id="pin" name="student_pin" class="form-control col-lg-4"> 
                <i>Swipe your id card or enter your pin</i>
                <br/> <br/>
                <p id="incorrect_alert" style="color: red; font-weight: 1000; width: fit-content; display:none;" >"Either enter the pin or refresh the page <br/> and swipe id card to enter"</p>
                <div class="span2">
                <input type="button" id="enter" class="btn btn-primary btn-block" value="Enter">
                </div>
                <br/><br/>

                <p><i>Not yet started with All Tray?</i>
                <i>Start now!</i></p>
                
                <a href="{% url 'register_card' %}" class="btn btn-outline-primary">Register your card</a>
                <br/>
                {%block footer%} {% endblock %}
                </form>
        </div>   
    </div>  
    
        <div class="col-md-8 right picture" style="height:700px" >

        </div> 
    
</div>

<script>
//checking if pin or id card entered
    $(document).ready(function(){

        //storing field variables to browser before reloading page
        //filling fields with values on reload
        //window.onload=set_fields();

        function set_fields(){
            var pin = sessionStorage.getItem('pin');
            if (pin !== null) $('#pin').val(pin);
        }

        window.onbeforeunload = function() {
            sessionStorage.setItem("pin", $('#pin').val());
        }


//submit click
        $("#enter").click(function(event){
            var t = $("#id_card").val();
            console.log(t+"id card value");
            console.log($("#pin").val());
    if ($("#id_card").val() == "" && $("#pin").val() == ""){
            $("#pin").css("border-color","red");
            $("#incorrect_alert").fadeIn(1000).delay(4000).fadeOut(1000);
            event.preventDefault();
        }

    else{       
                console.log("test on enter button");
                var pin = $("#pin").val();
                var id_card = $("#id_card").val();
                
    //sending form fields in ajax for checking if registered pin or card
            $.ajax({
                url: '/ajax/validate_entry/',
                data: {
                    'pin': pin,
                    'id_card': id_card
                },
                dataType: 'json',
                success: function (data){
                    if (data.incorrect_pin_or_card == "incorrect"){
                        //document.getElementById("incorrect_alert").innerHTML = "Sorry incorrect pin or unregistered card, please register if not registered and try again"
                        alert("Sorry incorrect pin or unregistered card, please register if not registered and try again");
                        $("#pin").css("border-color","red");
                        location.reload();
                    }
                    else{
                        $("form").submit();
                    }
                        }
                      
            });
        }

    });
    });
        

</script>


{% endblock %}