{% extends "tray/login_base.html" %}




                        {% block content %}

                   <!--section class="vh-100" style="background-color: #508bfc;"-->
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
    <form action="/home_post/" method="POST" type="form"/>
    {% csrf_token %}

    
                    <h3 class="mb-5">Sign in</h3>
        
                    <div class="form-outline mb-4">
                      <input type="email" class="form-control form-control-lg" id="email" name="email">
                      <label class="form-label" for="typeEmailX-2">Email</label>
                    </div>
        
                    <div class="form-outline mb-4">
                       <input type="password" id="password" name="password" class="form-control form-control-lg"> 
                      <label class="form-label" for="typePasswordX-2">Password</label>
                    </div>
                    <p id="incorrect_alert" style="color:red"></p>
                    <!-- Checkbox -->
                    <!--div class="form-check d-flex justify-content-start mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                      <label class="form-check-label" for="form1Example3"> Remember password </label>
                    </div-->
                  <div class="buttons">
                    <input  type="button" type="submit" class="btn btn-darker" id="enter" value="Login">
                    
                    <!--input type="button" id="enter" value="LOGIN" class="btn btn-darker"-->
                        
                    <br/><br/>

                    <button class="btn btn-darker">Sign in with Google</button>
                    
                    <br/>
                        <a href={% url 'password_reset'%}>Forgot password?</a>
                    <br/>
                  </div>
  </form>
                    <hr class="my-4">
        
                   
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--/section-->

<script>
//checking if pin or id card entered
$(document).ready(function(){

        //storing field variables to browser before reloading page
        //filling fields with values on reload
        //window.onload=set_fields();

        function checkemail(email) 
        {
            var re = /\S+@\S+\.\S+/;
            return re.test(email);
        }

        function set_fields(){
            var password = sessionStorage.getItem('password');
            if (password !== null) $('#password').val(password);
        }

        window.onbeforeunload = function() {
            sessionStorage.setItem("password", $('#password').val());
        }


    //submit click
    $("#enter").click(function(event){
        var email = $("#email").val()
        if (  email == "" || checkemail(email) == false ) {
                document.getElementById("incorrect_alert").innerHTML = "Please enter valid email."
                $("#email").css("border-color","red");
                //swal("Here's a message!", " Have a nice day!");  
                //swal("Oops!", "Something went wrong, you should choose again!", "error");  
                //swal("Good job!", "You clicked the button!", "success"); 

                //error shake 
                $("#email").addClass("error");
                event.preventDefault();
            }

        else if ($("#password").val() == ""){
                $("#password").css("border-color","red");
                document.getElementById("incorrect_alert").innerHTML = "Please enter password."
                $("#incorrect_alert").fadeIn(1000).delay(4000).fadeOut(1000);
                event.preventDefault();
            }
        
        /*else if ( ($("#email").val() == "" && $("#id_card").val() != "" )||( $("#email").val() =="" && $("#pin").val() != "") ) {       
                    document.getElementById("incorrect_alert").innerHTML = "Please enter email or refresh and swipe card first then enter email."
                    $("#incorrect_alert").fadeIn(1000).delay(4000).fadeOut(1000);
                    event.preventDefault();
                    console.log(email);
                    console.log(pin);
                    console.log(id_card);
                }*/

        else{
            console.log("test on enter button");
                    var email =  $("#email").val();
                    var password = $("#password").val();
                    //var id_card = $("#id_card").val();
                    console.log(email);
        //sending form fields in ajax for checking if registered pin or card
                $.ajax({
                    url: '/ajax/validate_entry/',
                    data: {
                        'email': email,
                        'password': password,
                        //'id_card': id_card,
                    },
                    dataType: 'json',
                    success: function (data){
                            if (data.incorrect_status == "wrong_email"){
                                document.getElementById("incorrect_alert").innerHTML = "Sorry incorrect pin or unregistered card, please register if not registered and try again"
                                //alert("Sorry non-existent user  please register if not registered and try again");
                                Swal.fire(
                                    'Oops',
                                    '<p>Sorry non-existent user.<br/>  Please register if not registered and try again<p>',
                                    'warning'
                                    ).then(function() {
                                        location.reload();
                                    });
                            }
                            if (data.incorrect_status == "incorrect_password"){
                                
                                    
                                    Swal.fire({
                                        title: 'grr!',
                                        text: 'Sorry incorrect password ;)',
                                        //imageUrl: 
                                        //imageWidth: 400,
                                        //imageHeight: 200,
                                        //imageAlt: 'Custom image',
                                        }).then(function() {
                                        location.reload();
                                    });

                            }
                            if (data.incorrect_status == "correct"){
                                $("form").submit();
                            }
                        }
                        
                });  
            }

    });  //enter button click function closing
});
        

</script>


{% endblock %}