{% extends "tray/base.html" %}

{% block navbar %} 
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
</nav>
{% endblock %}



{% block title%} Tray  {% endblock %}


{% block content %}
        <p>Welcome {{student.name}}</p>
        <p>Your pin: {{student_pin}}</p>
        <form action="/your_orders/" method="POST">
            {% csrf_token %}
        <input type="hidden" name="student_id" value="{{student.id}}">
        <input type="submit" class="btn btn-info" value="Your orders"> 
        </form>

        <form action="" method="POST">
            {% csrf_token %}
        <a href="{% url 'home' %}" class="btn btn-success">Recharge your id card</a>
        </form>
        <br/>
        
        
        <form action="/order_page/" method="POST">
            {% csrf_token %}
       
            {% for store in stores %}
                <input type="submit" name="store_name" value="{{store.store_name}}" class="button store-button" type="button">
                <input type="hidden" name="student_id" value="{{student.id}}">
            {% endfor %}
     </form>

{% endblock %}