{% extends "tray/base.html" %}



{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'your_orders' %}">Your Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_pin_edit' %}">Edit Pin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Recharge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_logout' %}">Logout</a>
      </li>
      
    </ul>
    
  </div>
</nav>
{% endblock %}

{% block title%} Tray  {% endblock %}

{% block frost %}
{% endblock %}

{% block content %}

<center>
        <h3>Welcome {{student.name}}</h3>
        <br/>
        <form action="/your_orders_post/" method="POST">
            {% csrf_token %}
        <input type="hidden" name="student_id" value="{{student.id}}">
        <input type="submit" class="blue-button" value="Your orders"> 
        </form>

        <form action="" method="POST">
            {% csrf_token %}
        <a href="{% url 'home' %}" class="green-button">Recharge your id card</a>
        </form>
        
        
   
        <form action="/order_page_post/" method="POST">
            {% csrf_token %}
            
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12" >
            {% for store in stores %}
           
                <button type="submit" class="store_id btn btn-outline-dark" id="store_button" name="store_id" value="{{store.id}}" > 
                  <p id='{{store.id}}' > </p>
                    <strong style="font-size: 20px;">{{store.store_name}} </strong> <br/> 
                    <div id = 'store_status'>
                    
                    
                    <!-- {% if store.store_status %}<span style="color: rgb(132, 199, 123);">(Open now) </span> <br/>
                    {% else %}<span style="color: rgb(218, 106, 98);">(Closed now)</span>  {% endif %} <br/>    --> 
                    </div>
                    {{store.store_details}}
                </button>
               
           
            
                <!--input type="submit" name="" value="{{store.store_name}}" class="button store-button" type="button"-->
                
                <!--input type="hidden" name="store_name" value="{{store.store_name}}"-->
            {% endfor %}
                </div>
                </div>
                </div>
                <input type="hidden" name="student_id" value="{{student.id}}">
     </form>

    </center>
<script>
$(document).ready(function(){
  $('.store_id').each(function(){
    store_id = $(this).val()
    console.log('s: '+store_id)
    setInterval(store_status_update, 1000, store_id);
  });
  
  //$(document).on('click','.bubble',function(){
  function store_status_update(store_id){
    console.log('s: in function '+store_id)
    $.ajax({
      url: '/ajax/home_store_status_update/',
      data: {
        store_id : store_id
      },
      dataType: 'json',
      success: function (data){
              console.log(data.store_status)
              if(data.store_status == 'open'){
                $('#'+store_id).html('<span style="color: rgb(132, 199, 123);">(Open now) </span> <br/>')
              }
              else if(data.store_status == 'closed'){
                $('#'+store_id).html('<span style="color: rgb(218, 106, 98);">(Closed now) </span> <br/>')
              }
          
      }
    }); 
  }
});
</script>
{% endblock %}