{% extends "tray/base.html" %}

{% block title %} Your Store {% endblock %}



{% block content %}
<center>
<script>
    function validateForm() {
            var store_name = document.forms["form"]["store_name"].value;
            var username = document.forms["form"]["username"].value;
            var email = document.forms["form"]["email"].value;
            var password = document.forms["form"]["password"].value;
            var college_id = document.forms["form"]["college_id"].value;
            if (store_name == "") {
                alert("Store name must be filled out");
                document.getElementById("store_name").style.borderColor = "red";
                return false;
            }
            if (username == "") {
                alert("User name must be filled out");
                document.getElementById("username").style.borderColor = "red";
                return false;
            }
            if (email == "") {
                alert("e-mail must be filled out");
                document.getElementById("email").style.borderColor = "red";
                return false;
            }
            if (password == "") {
                alert("password must be filled out");
                document.getElementById("password").style.borderColor = "red";
                return false;
            }
            if (college_id == "") {
                alert("College must be selected");
                document.getElementById("college_id").style.borderColor = "red";
                return false;
            }
        }
</script>


<h3> Register Your Store </h3>

<div class="form-group centered" >
<form  action="/register_store_success/" name="form" method="POST" onsubmit="return validateForm()" >
{% csrf_token %}
<h4>Store name</h4>
<input type="text" id="store_name" name="store_name" class="form-control" required ><br/><br/>
<h4>Store Description</h4>
<textarea id="store_description" name="store_description" class="form-control" rows="5">Add store description to display to buyer.</textarea>
<br/><br/>
<h4>username</h4>
<input type="text" name="username" id="username" class="form-control" required><br/><br/>
<h4>email id</h4>
<input type="email" name="email" id="email" class="form-control" required><br/><br/>
<h4>password</h4>
<input type="password" name="password" id="password" class="form-control" required><br/><br/>
<h4>College</h4>

<select id="college_id" name="college_id" id="item" class="btn dropdown-toggle" aria-placeholder="selects" style="background-color: azure;" required>
                    
                    
    <option value="" selected disabled hidden> 
        Select an Option 
    </option> 

{% for college in colleges %}
<option input value="{{college.id}}" required>{{college.institute_name}}</option>
{% endfor %}
</select>
<br/><br/><br/>
<input type="button" id="submit_button" value="Submit" class="green-button">
</form>
</div>

<script>
    $(document).ready(function(){
        //storing field variables to browser before reloading page

        //filling fields with values on reload
        window.onload=set_fields(); 

        function set_fields(){
            var store_name = sessionStorage.getItem('store_name');
            if (store_name !== null) $('#store_name').val(store_name);
            var username = sessionStorage.getItem('username');
            if (username !== null) $('#username').val(username);
            var email = sessionStorage.getItem('email');
            if (email !== null) $('#email').val(email);
            var password = sessionStorage.getItem('password');
            if (password !== null) $('#password').val(password);
            var college_id = sessionStorage.getItem('college_id');
            if (college_id !== null) $('#college_id').val(college_id);
        }


        
       
        window.onbeforeunload = function() {
            sessionStorage.setItem("store_name", $('#store_name').val());
            sessionStorage.setItem("username", $('#username').val());
            sessionStorage.setItem("email", $('#email').val());
            sessionStorage.setItem("password", $('#password').val());
            sessionStorage.setItem("college_id", $('#college_id').val());
            // ...
        }

        function checkemail(email) 
        {
            var re = /\S+@\S+\.\S+/;
            return re.test(email);
        }

        $("#submit_button").click(function (event) {
            var store_name = $("#store_name").val();
            var college_id = $("#college_id").val();
            var user_name = $("#username").val();
            var email = $("#email").val();
            //console.log(email);
            var flag = checkemail(email);
            console.log(flag);
            if (flag == false){
                alert("Please enter a valid email");
                event.preventDefault();
            }
            else{
                $.ajax({
                    url: '/ajax/store_register_validate/',
                    
                    data: {
                        'store_name': store_name,
                        'college_id': college_id,
                        'email' : email,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.store_name_taken) {
                            alert("Store name already taken, try another name");
                            location.reload();
                            return false;
                        }
                        else if (data.email_taken) {
                            alert("email already taken, try another mail id");
                            location.reload();
                            return false;
                        }
                        else{
                            $("form").submit();
                        }
                    }
                });
            }
                
           
            
    
        });
    });
    
    
    
        </script>
</center>
{% endblock %}