{% extends "tray/base.html" %}

{% block title%} Welcome to {{store.store_name}} {% endblock %}

{% block content %}
<center>
<p>Hi {{student.name}}</p>
<p> Welcome to {{store.store_name}}</p>
<p>Your balance: {{student.balance}}</p>
<br/>


<table style="width: 20%;" >
    <thead>
        <tr >
            <th> Item | Price/unit</th>
            <th> Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <select name="item_name" id="item" class="btn dropdown-toggle" aria-placeholder="selects" style="background-color: azure;">
                    
                    
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 

                    {% for item in items %}
                    <option input value="{{item.item}}">{{item.item}} : Rs. {{item.price}} </option>
                    {% endfor %}
                </select>
            </td>
            
            <td>
                <input type="number" style="width: 100%;" name="quantity" id="quantity" required>
            </td>
        </tr>
    </tbody>
</table>
<br/>

<p>Time of pickup:</p>
<select name="time" id="pickup_time" class="btn dropdown-toggle" required style="background-color: azure;">
<option input value="Now">Now</option>
<option input value="First Break">First Break</option>
<option input value="Lunch Break">Lunch Break</option>
<option input value="Last Break">Last Break</option>
</select>

<br/>
<input type="hidden" name="store_id" value="{{store.id}}">
<input type="hidden" name="student_id" value="{{student.id}}">

<br/>

<button class="btn btn-success" type="button" id="add">Add to cart <!--div class="fa-3x">
  <i class="fas fa-spinner fa-spin"></i></div--> </button>
<br/> <br/>

<h3><strong>Cart</strong><i class="fas fa-shopping-cart"></i></h3>


<table id="cart_table" style="background-color: rgba(249, 251, 252, 0.746); width: 20%;" class="table table-striped" class="table-responsive-xs" >
<thead>
    <tr style="background-color: rgba(205, 248, 255, 0.52);" >
    <th>Item</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Action</th>
    </tr>
</thead>
<tbody id="cart_body" >
<!--this is the cart table where items are added by jquery-->
</tbody>
<tfoot>
    <tr>
        <td colspan="1"><strong>Total:</strong></td>
        <td colspan="3" id="total"></td>
        <td><button id="delete" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    </tr>
</tfoot>
</table>


<p>Pay using:</p>

<input type="button"  id="confirm" value="id-card" class="btn btn-primary">    

{% with student_id=student.id  %}
{% with store_id=store.id %}




<script>
//add items to cart
    $(document).ready(function(){
    var subtotal = 0;   
    var total = 0;
    var buy_clicked = false;
            $("#add").click(function(event){
                var item = $("#item").val();
                var quantity = $("#quantity").val();
                
                if (quantity == ' ' || quantity < 1  ){
                    alert ("please select atleast one in quantity");
                    return;
                }
                var  time = $("#pickup_time").val();
                
                $.ajax({
                        url: '/ajax/cart/',
                        data: {
                            'status' : 'add_to_cart',
                            'item_name': item,
                            'student_id' : '{{student_id}}',
                            'store_id' : '{{store_id}}',
                            'time' : time,
                            'quantity' : quantity
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.added == 'success'){
                                console.log("item add to cart success");
                                var price = data.item_price;
                                var cost = price * quantity;
                                total = cost + subtotal;
                                subtotal = subtotal + cost;
                                //console.log("total type:"+ typeof (total));
                                //console.log("cost type:"+ typeof (cost));
                                //console.log("subtotal type:"+ typeof (subtotal));
                                var item_row = '<tr id = '+data.cart_item_id+'> <td>'+item+'</td> <td>'+quantity+'</td> <td>'+ price +'</td> <td>'+cost+'</td> <td><input type="checkbox" name="record"></td> </tr>';
                                $("#cart_table").find('tbody').append(item_row );
                                $("#total").text(total);
                                //console.log("total type:"+  total);
                                //console.log(total);
                                //total = 0;
                            }
                            else if (data.added == 'failure'){
                                alert("Item not available at store or has been removed by the store");
                                console.log("item add failed, item removed by store");
                                
                            }
                        } 
                });
            


                
            });

            $("#delete").click(function(){
           
              $("#cart_body").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    var delete_item_id = $(this).closest('tr').attr('id');
                    var item_cost = $(this).parent().prev().text();
                    console.log(delete_item_id+ "item deleting with cost : " +item_cost);
                    $(this).parents("tr").remove();
                    console.log("total:"+subtotal);
                    subtotal = subtotal - item_cost;
                    console.log("total after deleting item:"+subtotal+"item_cost:"+item_cost );
                    $("#total").text(subtotal);
                    $.ajax({
                        url: '/ajax/cart/',
                        data: {
                            'status' : 'delete_from_cart',
                            'item_id' : delete_item_id
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.status == 'item_deleted'){
                                //alert("Item deleted");
                            }
                        }

                });


                }
           });
       });

//confirming purchase and saving to order table
            $("#confirm").click(function(){
                buy_clicked = true;
                $.ajax({
                        url: '/ajax/cart/',
                        data: {
                            'status' : 'confirm_order',
                            'student_id' : '{{student_id}}',
                            'store_id' : '{{store.id}}',
                            'total' : total
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.status == 'order_placed'){
                                total = 0;
                                subtotal = 0;
                                otp = data.otp;
                                alert("Order placed!\notp to pickup order is:"+"      "+ otp +"\n\notp can be found in Your Orders\nThanks for Shopping with Alltray!");
                                location.reload();
                            }
                            if (data.status == 'no_item_in_cart')
                            {
                            alert("No item in cart");
                            total = 0;
                            subtotal = 0;
                            }
                            else if (data.status == 'low_balance')
                            alert("Insufficient balance in card try, google pay.")
                        }

                });

            });




        
            window.onbeforeunload = function(event) {
            if (buy_clicked == false){
                event.returnValue = "exit"
                total = 0;
                subtotal = 0;
                }
               
//this ajax only resets cart on reentering to the cart page
// meets the requirement but don't know why the anomaly
                $.ajax({
                            url: '/ajax/cart/',
                            data: {
                                'status' : 'leaving_page',
                                'student_id' : '{{student_id}}',
                            },
                            dataType: 'json',
                            success: function (data){
                                if (data.status == 'cart_count_reset'){
                                    console.log(data.status)
                                }
                            }

                });
            }; 
  
    
    });
</script>
{% endwith %}
{% endwith %}

</center>
{% endblock %}