{% extends "tray/base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_pin_edit' %}">Edit Pin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_logout' %}">Logout</a>
      </li>
      
    </ul>
    
  </div>
</nav>
{% endblock %}


{% block title%} {{store.store_name}} {% endblock %}

{% block content %}
<center>
<h4>Hi {{student.name}}</h4>
<h4> Welcome to {{store.store_name}}</h4>
<br/>
<h4>Your balance: {{student.balance}}</h4>
<br/>


<table style="width: 20%;" >
    <thead>
        <tr >
            <th> Item | Price/unit</th>
            <th> Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <select name="item_name" id="item" class="btn dropdown-toggle" aria-placeholder="selects" style="background-color: azure;">
                    
                    
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 

                    {% for item in items %}
                    <option input value="{{item.item}}">{{item.item}} : Rs. {{item.price}} </option>
                    {% endfor %}
                </select>
            </td>
            
            <td>
                <input type="number" style="width: 100%;" name="quantity" id="quantity" required>
            </td>
        </tr>
    </tbody>
</table>
<br/>

<h4>Time of pickup:</h4>
<select name="time" id="pickup_time" class="btn dropdown-toggle" required style="background-color: azure;">
<option input value="Now">Now</option>
<option input value="First Break">First Break</option>
<option input value="Lunch Break">Lunch Break</option>
<option input value="Last Break">Last Break</option>
</select>

<br/>
<input type="hidden" name="store_id" value="{{store.id}}">
<input type="hidden" name="student_id" value="{{student.id}}">

<br/>

<button class="green-button" type="button" id="add">Add to cart <!--div class="fa-3x">
  <i class="fas fa-spinner fa-spin"></i></div--> </button>
<br/> <br/>

<h3><strong>Cart</strong><i class="fas fa-shopping-cart"></i></h3>


<table id="cart_table" style="background-color: rgba(249, 251, 252, 0.746); width: 20%;" class="table table-striped" class="table-responsive-xs" >
<thead>
    <tr style="background-color: rgba(205, 248, 255, 0.52);" >
    <th>Item</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Action</th>
    </tr>
</thead>
<tbody id="cart_body" >
<!--this is the cart table where items are added by jquery-->
</tbody>
<tfoot>
    <tr>
        <td colspan="2" id="total">Total:</td>
        <td colspan="2" id="tray_revenue"></td>
        <td><button id="delete" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    </tr>
</tfoot>
</table>


<p>Pay using:</p>

<input type="button"  id="confirm" value="pay with alltray balance" class="blue-button"> 

{% with student_id=student.id  %}
{% with store_id=store.id %}





<script>
//add items to cart
    $(document).ready(function(){  
    var total = 0;
    var buy_clicked = false;
    var order_list = [];

//function to calculate commission on adding item
    function alltray_revenue(total){

        if (total>0 && total<=10){
            commission = 0.01 * total;
        }
        else if (total>10 && total<=50){
            commission = 0.5;
        }
        else if (total>50 && total<=100){
            commission = 1;
        }
        else if (total>100 && total<=400){
            commission = 0.01 * total;
        }
        else if (total>=400){
            commission = 4;
        }
        else{
            commission = 0;
        }

        return commission;
    };


            $("#add").click(function(event){
                var item = $("#item").val();
                var quantity = parseInt( $("#quantity").val() );
                var new_item = true;
                //check_exist_in_cart(item);
                if (isNaN(quantity) || quantity < 1  ){
                    alert ("please select atleast one in quantity");
                    return;
                }
                
                console.log("entering exist check");
                //checking if item already in cart and incrementing the item (not still working!)
                check_exist_in_cart(item, quantity);
                console.log("new item status "+new_item);  

                function check_exist_in_cart(item, quantity){
                    console.log("entered exist check function");
                    $("#cart_body").find(id="#item").each(function(){
                            console.log("checking through each"+$(this).text());
                            cart_item = $(this).text()
                            if(cart_item == item)
                            {
                                console.log("already existing: "+cart_item);
                                new_item = false;
                                quantity_in_cart = parseInt($(this).next().text());
                                console.log("quantity initialy in cart: "+ quantity_in_cart);
                                console.log("type of quantity initialy in cart: "+ typeof  quantity_in_cart);
                                console.log("type of quantity to add: "+typeof quantity);
                                quantity_in_cart += quantity;
                                console.log("quantity incremented: "+ quantity_in_cart);
                                $(this).next().text(quantity_in_cart);
                                let price = $(this).next().next().text();
                                let cost = price * quantity_in_cart;
                                $(this).next().next().next().text(cost);
                                update_total();
                                order_list_update(item,quantity,price,cost);
                                var revenue = parseInt(alltray_revenue(total));
                                var tray_revenue_display = "tray revenue: "+revenue;
                                $("#tray_revenue").text(tray_revenue_display);
                            }
                        
                        
                    });
                }                        

                    


                //function check_exist_in_cart(item)
                
        if (new_item)
        {

                console.log("new item true");
                
                $.ajax({
                        url: '/ajax/cart/',
                        data: {
                            'status' : 'add_to_cart',
                            'item_name': item,
                            'student_id' : '{{student_id}}',
                            'store_id' : '{{store_id}}',
                            'quantity' : quantity
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.added == 'success'){
                                console.log("item add to cart success");
                                var price = data.item_price;
                                console.log("price is: "+price);
                                console.log("price type: "+ typeof price);
                                var cost = price * quantity;
                                var item_row = '<tr id = '+data.cart_item_id+'> <td id="item">'+item+'</td> <td>'+quantity+'</td> <td>'+ price +'</td> <td>'+cost+'</td> <td><input type="checkbox" name="record"></td> </tr>';
                                $("#cart_table").find('tbody').append(item_row );
                                update_total();
                                var revenue = parseInt(alltray_revenue(total));
                                var tray_revenue_display = "tray revenue: "+revenue;
                                $("#tray_revenue").text(tray_revenue_display);
                                $("#total").text("Total: "+total);

                                //adding order to list
     
                                order_obj = {
                                    "item":item,
                                    "quantity":quantity,
                                    "price":price,
                                }
                                order_list_push();
                            
                            }
                            else if (data.added == 'failure'){
                                alert("Item not available at store or has been removed by the store");
                                console.log("item add failed, item removed by store");
                                
                            }
                        } 
                });
            
        

        }
        
        function order_list_push()
        {
            order_list.push(order_obj);
            for(let i in order_list){
                console.log("item:"+i+" "+order_list[i].item+" quantity:"+order_list[i].quantity+ "price:"+order_list[i].price );
            }
        }

        function order_list_update(item,quantity, price, cost){
            index_of_update_item = order_list.findIndex(a => (a.item === item && a.quantity === a.quantity));
            update_item = order_list[index_of_update_item];
            update_item.quantity +=  parseInt(quantity);
            update_item.cost = cost;
            console.log("updated item in order_list: "+ update_item.item+" quantity: " + update_item.quantity+" price:"+update_item.price+" cost"+ update_item.cost);
        }  
                
                });
            

                
                

            function update_total(){
                total = 0;
                var table = document.getElementById('cart_body');
                var rowLength = table.rows.length;
                console.log("row length: "+rowLength);
                for(let c=0; c<rowLength; c+=1){
                    var row = table.rows[c];
                    //cost cell on each row
                    let cost = row.cells[3].innerHTML;
                    console.log("on cell: "+c+" cost is"+cost);
                    total += parseInt(cost);
                    console.log("UPDATED total_________________________________"+total);
                    $("#total").text("Total: "+total);
                }
                c = 0;
            }



            $("#delete").click(function(){
                $("#cart_body").find('input[name="record"]').each(function(){
            	if($(this).is(":checked")){
                    var delete_item_id = $(this).closest('tr').attr('id');
                    var item_cost = $(this).parent().prev().text();
                    var item_name = $(this).parent().prev().prev().prev().prev().text();
                    console.log(delete_item_id+ "testeritem: "+item_name+" deleting with cost : " +item_cost);
                    //removing the item from order list array
                    delete_from_order_list(item_name, item_cost);
                    //removing from cart table
                    $(this).parents("tr").remove();
                    console.log("total:"+total);
                    update_total();
                    console.log("total after deleting item:"+total+"item_cost:"+item_cost );
                    $("#total").text("Total: "+total);
                    var revenue = parseInt(alltray_revenue(total));
                    tray_revenue_display = "tray revenue: "+revenue;
                    $("#tray_revenue").text(tray_revenue_display);
                    $.ajax({
                        url: '/ajax/cart/',
                        data: {
                            'status' : 'delete_from_cart',
                            'item_id' : delete_item_id
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.status == 'item_deleted'){
                                //alert("Item deleted");
                            }
                        }

                    });


                }
            });
       });

function delete_from_order_list(item_name, item_cost)
                    {
                        console.log("entered delete function, item name:"+item_name);
                        //item to be removed be prepared as this object on delete click
                        //remobj = {item:"samosa", quantity:"2", time:"Now" }
                        find_index = order_list.findIndex(a => (a.item === item_name && a.quantity === a.quantity));
                        console.log("index check"+find_index);
                        if (find_index !== -1){
                            order_list.splice(find_index,1);
                            console.log("removed");
                        }
                    }
//confirming purchase and saving to order table
            $("#confirm").click(function(){
                //notifying if no item in cart
                if (order_list.length<1){
                    alert("No items in cart");
                    return;
                }
                buy_clicked = true;
                var time = $("#pickup_time").val();
                order_list_json = JSON.stringify(order_list);
                console.log(order_list_json);
                var revenue = parseInt(alltray_revenue(total));
                console.log("revenue: "+revenue);
                $.ajax({
                        url: '/ajax/cart/',
                        data: {
                            'status' : 'confirm_order',
                            'student_id' : '{{student_id}}',
                            'store_id' : '{{store.id}}',
                            'total' : total,
                            'order_list_json' : order_list_json,
                            'time' : time,
                            'revenue' : revenue,
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.status == 'order_placed'){
                                total = 0;
                                subtotal = 0;
                                otp = data.otp;
                                Swal.fire(
                                    'Order placed!',
                                    '<p>OTP to pickup order is: <strong>'+ otp +
                                    '</strong> <br/>OTP can be found in Your Orders. <br/>Thanks for Shopping with Alltray!<p>',
                                    'success'
                                    ).then(function() {
                                        location.reload();
                                    });

                                //swal("Good job!", "You clicked the button!", "success"); 
                                
                            }
                            if (data.status == 'no_item_in_cart')
                            {
                            alert("No item in cart");
                            total = 0;
                            subtotal = 0;
                            }
                            else if (data.status == 'low_balance')
                            alert("Insufficient balance in card try, google pay.")
                        }

                });

            });




        
            window.onbeforeunload = function(event) {
            if (buy_clicked == false){
                event.returnValue = "exit"
                total = 0;
                subtotal = 0;
                }
               
//this ajax only resets cart on reentering to the cart page
// meets the requirement but don't know why the anomaly
                /*order_list_json = JSON.stringify(order_list);
                $.ajax({
                            url: '/ajax/cart/',
                            data: {
                                'status' : 'leaving_page',
                                'student_id' : '{{student_id}}',
                                //'order_list_json':order_list_json,
                            },
                            dataType: 'json',
                            success: function (data){
                                if (data.status == 'cart_count_reset'){
                                    console.log(data.status)
                                }
                            }

                }); */
            }; 
  
    
    });
</script>
{% endwith %}
{% endwith %}

</center>
{% endblock %}