{% extends "tray/base.html" %}

{% block title %} Order {% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store_home' %}">Store</a>
</nav>
{% endblock %}


{% block javascript %}



{% endblock %}


{% block content %}

<strong>Add Item</strong>
<br/>


<form action="/order_items/" method="POST">
    {% csrf_token %}
    <p>item</p>
    <input type="text" id="item_name" name="order" required><br/><br/>
    <p>Price</p>
    <input type="number" name="price" min="0" required><br/><br/>
    <p>Stock</p>
    <input type="number" id="stock" name="quantity" min="1" required><br/><br/>
    <input type="hidden" name="store_id" value="{{store_id}}">
    <input type="submit" class="btn btn-success">
</form>

<div class="row">
    <div class="col-sm-9">

    </div>
<div class="col-sm-3">
    <a href="{% url 'store_home' %}" class="btn btn-info">Store Home</a>
</div>
</div>


<script>
    $("#item_name").change(function () {
          var order = $(this).val();
    
    $.ajax({
        url: '/ajax/validate_store_item/',
        data: {
            'order': order
        },
        dataType: 'json',
        success: function (data) {
            if (data.is_taken) {
                alert("Item already exists in store");
            }
        }
    
    });
    
    });
    
    
    </script>


{% endblock %}