{% extends "tray/base.html" %}

{% block title%} Register card {% endblock %}

{% block content %}
<center>
<script>
    function validateForm() {
            var student_name = document.forms["form"]["student_name"].value;
            var branch_name = document.forms["form"]["branch_name"].value;
            var semester = document.forms["form"]["semester"].value;
            var password = document.forms["form"]["password"].value;
            var mail_id = document.forms["form"]["mail_id"].value;
            var college_id = document.forms["form"]["college_id"].value;
            if (student_name == "") {
                document.getElementById("student_name").style.borderColor = "red";
                alert("Please enter your name")
                return false;
            }
            if (branch_name == "") {
                document.getElementById("branch_name").style.borderColor = "red";
                alert("Please enter your branch")
                return false;
            }
            if (semester == "") {
                document.getElementById("semester").style.borderColor = "red";
                alert("Please enter your semester")
                return false;
            }
            if (password == "") {
                document.getElementById("password").style.borderColor = "red";
                alert("Please enter password.")
                return false;
            }
            if (mail_id == "") {
                document.getElementById("mail_id").style.borderColor = "red";
                alert("Please enter mail")
                return false;
            }
            if (college_id == "") {
                document.getElementById("college_id").style.borderColor = "red";
                alert("Please select college")
                return false;
            }

        }
</script>
{% load crispy_forms_tags %}
<h2>Register your card</h2>
<br/>
<div class="form-group centered">
<form action="/register_card_post/" method="POST" name="form" onsubmit="return validateForm()">
{% csrf_token %}
{{ form|crispy }}
    <label>Your Name</label>
    <br/>
    <input type="text" name="student_name" id="student_name" class="form-control" >
    <br/><br/>
    <label for="email">e-mail id</label>
    <br/>
    <input type="email" name="mail_id" id="mail_id" class="form-control" >
    <br/><br/>
    <label>Branch</label>
    <br/>
<select name="branch_name" id="branch_name" class="btn dropdown-toggle" class="btn btn-outline-primary" aria-placeholder="selects" style="background-color: azure;" class="form-control" >
    <option input value="Electronics & Communication">Electronics & Communication</option>
    <option input value="Computer Science">Computer Science</option>
    <option input value="Civil Engineering">Civil Engineering</option>
    <option input value="Mechanical Engineering">Mechanical Engineering</option>
</select>
<br/><br/>

<p>Semester:</p>
<select name="semester" id="semester" class="btn dropdown-toggle" class="form-control"  required style="background-color: azure;">
<option input value="semester 1">semester 1</option>
<option input value="semester 2">semester 2</option>
<option input value="semester 3">semester 3</option>
<option input value="semester 4">semester 4</option>
<option input value="semester 5">semester 5</option>
<option input value="semester 6">semester 6</option>
<option input value="semester 7">semester 7</option>
<option input value="semester 8">semester 8</option>
</select>

<br/><br/>

<label>Password</label>
<br/>
<input type="password" name="password" id="password" minlength="4" class="form-control" >
<br/><br/>
<p>College</p>

<select id="college_id" name="college_id" id="college_id" class="btn dropdown-toggle" aria-placeholder="selects" style="background-color: azure;" >
                    
                    
    <option value="" selected disabled hidden> 
        Select an Option 
    </option> 

{% for college in colleges %}
<option input value="{{college.id}}" >{{college.institute_name}}</option>
{% endfor %}
</select>
<input type="button" id="submit_button" value="Submit" class="btn btn-primary" class="form-control">
<p id="alerter"></p>

</form>
</div>

<script>
    $(document).ready(function(){

        window.onload=set_fields(); 

        function set_fields(){
            var student_name = sessionStorage.getItem('student_name');
            if (student_name !== null) $('#student_name').val(student_name);
            var mail_id = sessionStorage.getItem('mail_id');
            if (mail_id !== null) $('#mail_id').val(mail_id);
            var branch_name = sessionStorage.getItem('branch_name');
            if (branch_name !== null) $('#branch_name').val(branch_name);
            var semester = sessionStorage.getItem('semester');
            if (semester !== null) $('#semester').val(semester);
            var password = sessionStorage.getItem('password');
            if (password !== null) $('#password').val(password);
            //var card = sessionStorage.getItem('card');
            //if (card !== null) $('#card').val(card);
            var college_id = sessionStorage.getItem('college_id');
            if (college_id !== null) $('#college_id').val(college_id);
        }

        window.onbeforeunload = function() {
            sessionStorage.setItem("student_name", $('#student_name').val());
            sessionStorage.setItem("mail_id", $('#mail_id').val());
            sessionStorage.setItem("branch_name", $('#branch_name').val());
            sessionStorage.setItem("semester", $('#semester').val());
            sessionStorage.setItem("password", $('#password').val());
            //sessionStorage.setItem("card", $('#card').val());
            sessionStorage.setItem("college_id", $('#college_id').val());
        }

        $('#password').keyup(function (){ 
                password_string = String(password);
                console.log(password_string.trim().length);
                console.log(typeof(password_string));
                console.log(password_string.length);
                console.log(String(student_name).length);
                if (String(password).length < 6) { 
                    $('#alerter').text("password too short") 
                }
            });  
        
        function checkemail(email) 
            {
                var re = /\S+@\S+\.\S+/;
                return re.test(email);
            }
        
        $("#submit_button").click(function (event) {

            var user_name = $("#student_name").val();
            var password = $("#password").val();
            var email = $("#mail_id").val();
            console.log(email);
            var flag = checkemail(email);
            console.log(flag);
            if (flag == false){
                alert("Please enter a valid email");
                event.preventDefault();
            }
            else{
                $.ajax({
                    url: '/ajax/student_register_validate/',
                    
                    data: {
                        'user_name' : user_name,
                        'password' : password,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.user_name_taken) {
                            alert("User name already taken, try another name");
                            location.reload();
                            return false;
                        }
                        else{
                            $("form").submit();
                        }
                    }
                });
            }
            
           
            
    
        });

    });


</script>

</center>
{%  endblock %}