{% extends "tray/homepage_layout.html" %}

{% block title %} College Signup {% endblock %}



{% block navbar %}

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>



  <header class="home-site-navbar home-site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center position-relative">

        <div class="col-3">
          <div class="home-site-logo">
            <a href="{% url 'entry' %}" class="display-3">AllTray</a>
          </div>
        </div>

        <div class="col-9  text-right">
          

          <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h2"></span></a></span>


          <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto ">
              <li class="active"><a href="{% url 'entry' %}" class="nav-link ">Home</a></li>
              <!--li><a href="{% url 'your_orders' %}" class="nav-link ">Your Orders</a></li>
              <li><a href="{% url 'pay' %}" class="nav-link ">Recharge Card</a></li>
              <li><a href="{% url 'home' %}" class="nav-link ">Fee Payment</a></li>
              <li><a href="{% url 'student_pin_edit' %}" class="nav-link ">Edit Pin</a></li>
              <li><a href="{% url 'home' %}" class="nav-link "><i class="fa fa-user" aria-hidden="true"></i></a></li>
              <li><a href="{% url 'student_logout' %}" class="nav-link ">Logout</a></li-->
              
              <li><a href="#" class="nav-link ">Contact</a></li>
            </ul>
          </nav>
        </div>

        
      </div>
    </div>

    </header>

{% endblock %}



{% block content %}
<center>
<script>
    function validateForm() {
                var college_name = document.forms["form"]["college_name"].value;
                var username = document.forms["form"]["username"].value;
                var email = document.forms["form"]["email"].value;
                var password = document.forms["form"]["password"].value;
                var first_break = document.forms["form"]["first_break"].value;
                var lunch_break = document.forms["form"]["lunch_break"].value;
                var last_break = document.forms["form"]["last_break"].value;
                if (college_name == "") {
                    document.getElementById("college_name").style.borderColor = "red";
                    alert("College name must be filled out");
                    return false;
                }
                if (first_break == "") {
                    document.getElementById("first_break").style.borderColor = "red";
                    alert("First break time must be filled out");
                    return false;
                }
                if (lunch_break == "") {
                    document.getElementById("lunch_break").style.borderColor = "red";
                    alert("Lunch break time must be filled out");
                    return false;
                }
                if (last_break == "") {
                    document.getElementById("last_break").style.borderColor = "red";
                    alert("Last break time must be filled out");
                    return false;
                }
                if (username == "") {
                    document.getElementById("username").style.borderColor = "red";
                    alert("User name must be filled out");
                    return false;
                }
                if (email == "") {
                    document.getElementById("email").style.borderColor = "red";
                    alert("e-mail must be filled out");
                    return false;
                }
                if (password == "") {
                    document.getElementById("password").style.borderColor = "red";
                    alert("Password must be filled out");
                    return false;
                }
            }
    
    {% comment %} function displayRadioValue() {
        var ele = document.getElementsByName('plan_type');
            
        for(i = 0; i < ele.length; i++) {
            if(ele[i].checked){
                alert("Plan: "+ele[i].value);
                var plan = ele[i].value
                return plan
            }
        }
        return false;
    } {% endcomment %}
</script>

<h2> Register Your Institute</h2>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
                <form action="/register_college_success/" name="form" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                <h3>Institute name</h3>
                <input type="text" name="college_name" id="college_name" class="form-control"><br/><br/>
                <!--h3>Plan type</h3>
                    <div class="form-check">
                        <input class="form-check-input" value="basic" type="radio" name="plan_type" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                        Basic
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" value="standard" type="radio" name="plan_type" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                        Standard
                        </label>
                    </div>
                <br/><br/-->
                <h3>First Break</h3>
                <input type="time" name="first_break" id="first_break" class="form-control"><br/><br/>
                <h3>Lunch break</h3>
                <input type="time" name="lunch_break" id="lunch_break" class="form-control"><br/><br/>
                <h3>Last break</h3>
                <input type="time" name="last_break" id="last_break" class="form-control"><br/><br/>
                <h3>username</h3>
                <input type="text" name="username" id="username" class="form-control"><br/><br/>
                <h3>email id</h3>
                <input type="email" name="email" id="email" class="form-control"><br/><br/>
                <h3>password</h3>
                <input type="password" name="password" id="password" class="form-control"><br/><br/>
                <input type="button" id="submit_button" value="Submit" class="btn btn-success">
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
                
<script>
    $(document).ready(function(){

        

        //storing field variables to browser before reloading page
        //filling fields with values on reload
        window.onload=set_fields(); 

        function set_fields(){
            var college_name = sessionStorage.getItem('college_name');
            if (college_name !== null) $('#college_name').val(college_name);
            var username = sessionStorage.getItem('username');
            if (username !== null) $('#username').val(username);
            var email = sessionStorage.getItem('email');
            if (email !== null) $('#email').val(email);
            var password = sessionStorage.getItem('password');
            if (password !== null) $('#password').val(password);
        }


        
       
        window.onbeforeunload = function() {
            sessionStorage.setItem("college_name", $('#college_name').val());
            sessionStorage.setItem("username", $('#username').val());
            sessionStorage.setItem("email", $('#email').val());
            sessionStorage.setItem("password", $('#password').val());
        }

        function checkemail(email) 
        {
            var re = /\S+@\S+\.\S+/;
            return re.test(email);
        }

        

        $("#submit_button").click(function (event) {
            var college_name = $("#college_name").val();
            var user_name = $("#username").val();
            var email = $("#email").val();
            //console.log(email);
            var flag = checkemail(email);
            var plan = "basic"
            console.log(flag);
            if (plan == false){
                alert("Please select a plan");
                event.preventDefault();
            }
            if (flag == false){
                alert("Please enter a valid email");
                event.preventDefault();
            }
            else{
                $.ajax({
                    url: '/ajax/college_register_validate/',
                    
                    data: {
                        'college_name': college_name,
                        'email' : email
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.college_name_taken) {
                            alert("College name already taken, try another name");
                            location.reload();
                            return false;
                        }
                        if (data.email_taken) {
                            alert("mail id already taken, try another mail id");
                            location.reload();
                            return false;
                        }
                        else{
                            Swal.fire(
                                'Signup Successful',
                                '',
                                'success'
                                ).then(function() {
                                    $("form").submit();
                                });
                        }
                        
                    }        
        
                });

            }
        });
       
});
    
    
    
</script>


</center>
{% endblock %}


{% block footer %}
{% endblock %}