{% extends "tray/store_homepage_layout.html" %}

{% comment %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li class="nav-item active">
      <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store_edit_details' %}">Edit Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store_order_list' %}">Order list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'store_bills' %}">Store bills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store_logout' %}">Logout</a>
        </li>
      </ul>
      
    </div>
  </nav>
{% endblock %} {% endcomment %}


{% block title%} Welcome to {{store.store_name}} {% endblock %}

{% block content %}
<center>
<!--p>Hi {{student.name}}</p>
<p> Welcome to {{store.store_name}}</p>
<p>Your balance: {{student.balance}}</p-->
<h2>Billing</h2>
<br/>
<form method="POST" class="form" >
{% csrf_token %}
<table style="width: 20%;" >
    <thead>
        <tr >
            <th> Item | Price/unit</th>
            <th> Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <select name="item_name" id="item" class="btn dropdown-toggle" aria-placeholder="selects" style="background-color: azure;">
                    
                    
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 

                    {% for item in items %}
                    <option input value="{{item.item}}">{{item.item}} : Rs. {{item.price}} </option>
                    {% endfor %}
                </select>
            </td>
            
            <td>
                <input type="number" style="width: 100%;" name="quantity" id="quantity" required>
            </td>
        </tr>
    </tbody>
</table>
<br/>
</form>


<br/>
<input type="hidden" name="store_id" value="{{store.id}}">
<input type="hidden" name="student_id" value="{{student.id}}">

<br/>

<button class="btn btn-darker" type="button" id="add">Add to list</button>
<br/> <br/>

<h3>Cart<i class="fas fa-shopping-cart"></i></h3>

<table id="cart_table" style="width: 50%;" class="table table-striped" class="table-responsive-xs" >
<thead>
    <tr>
    <th>Item</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Action</th>
    </tr>
</thead>
<tbody id="cart_body" >
<!--this is the cart table where items are added by jquery-->
</tbody>
<tfoot>
    <tr>
        <!--td colspan="1"><strong>Total:</strong></td-->
        <td colspan="2" id="total">Total:</td>
        <td colspan="2" id="tray_revenue"></td>
        <td><button id="delete" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
    </tr>
</tfoot>
</table>
<br/>
<h3>Enter amount given by customer</h3>
<input type="number" style="width:150px" name="customer_cash" id="customer_cash"/>


<br/><br/>
<h3 class="btn-grad" id="balance" >Balance: nil  </h3>


<h4>Payment:</h4>

<input type="button" class='confirm btn btn-primary' value="Cash" data-id="cash"> 
<button id="scan_card" class='confirm btn btn-warning'  data-id="card" >Rfid Card </button>

<div id="card_section">
<input type="text" id='pin_no' class=hideme >
<p id="alert" style="color:green" ></p>
<br/>
<input type="button" class="btn btn-success" id="card_submit" value="Submit" >
</div>
{% with student_id=student.id  %}
{% with store_id=store.id %}
<br/><br/>
<!--invoice print preview>
<button class="green-button" id="print_preview">Print Preview</button>
    {% load static %}  
<iframe
        src="{% url 'entry' %}"
        	frameborder='0' style='border:0;' 
        		width='300' height='300'>
</iframe>
<embed src="{% static 'tray/pdf/tester5.pdf' %}" type="application/pdf" width="40%" height="600px" />
<iframe src="{% static 'tray/pdf/tester5.pdf' %}" title="description"></iframe-->
{% comment %} <br/><br/>
<p id="print">
    <a href="{% static 'tray/pdf/tester5.pdf' %}"  value="Print Invoice" download >
    <!--button class="green-button" >Print</button-->
    </a>
</p> {% endcomment %}

<template id="print-choice">
    <swal-title>
        Purchase confirmed!
    </swal-title>
    <swal-html>Do you want to print the bill?</swal-html>
    <swal-icon type="success" color="#3085d6"></swal-icon>
    <swal-button  id="print_confirm" type="confirm">
      Print Bill 
    </swal-button>
    <swal-button id="print_cancel" type="cancel">
      No leave
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param
      name="customClass"
      value='{ "popup": "my-popup" }' />
    <swal-function-param
      name="didOpen"
      value="popup => console.log(popup)" />
  </template>

<form id="bill_print_form" action="/invoice_print/">
    
</form>
<script>



   

    


    //add items to cart
    $(document).ready(function(){
            var total = 0;
            var buy_clicked = false;
            var order_list = [];

            
            if(performance.navigation.type == 2){
               location.reload(true);
            }

        $("print_confirm").click(function(event){
            console("print clicked")
        });


        $("#scan_card").click(function(event){
            document.getElementById("alert").innerHTML =""
            document.getElementById("pin_no").focus();
        });
        //on entering input to card field show message as card received
        $('#pin_no').on('input', function() {
            text = $('#pin_no').val();
            document.getElementById("alert").innerHTML = "Card received please click submit";
        });

        
           
        $("#customer_cash").keyup(function(){
            customer_balance();
        });

        //function to return customer balance
        function customer_balance(){
            customer_cash = $("#customer_cash").val();
            balance = parseFloat(customer_cash) - total;
            if (balance < 0){
                $("#balance").text("Insufficient payment");
            }
            else{
            $("#balance").text("Balance: "+balance);
            }
        }



        $("#add").click(function(event){
            var item = $("#item").val();
            var quantity = parseInt( $("#quantity").val() );
            console.log("item selected: "+item);
            console.log("quantity: "+quantity);
            var new_item = true; 
            //check_exist_in_cart(item);
            if (isNaN(quantity) || quantity < 1  ){
                alert ("please select atleast one in quantity");
                return;
            }
            console.log("entering exist check function: "+ typeof item);
            check_exist_in_cart(item)
            //checking if item already in cart and incrementing the item
            function check_exist_in_cart(item){
                $("#cart_body").find(id="#item").each(function(){
                        console.log("checking through each"+$(this).text());
                        cart_item = $(this).text()
                        if(cart_item == item)
                        {
                            console.log("already existing"+cart_item);
                            new_item = false;
                            quantity_in_cart = parseInt($(this).next().text());
                            quantity_in_cart += quantity;
                            console.log("quantity is"+ quantity_in_cart);
                            $(this).next().text(quantity_in_cart);
                            let price = $(this).next().next().text();
                            //console.log("updater item price"+ price);
                            let cost = price * quantity_in_cart;
                            $(this).next().next().next().text(cost);
                            update_total();
                            order_list_update(item,quantity,price,cost);
                        }
                    
                    
                });
            } 

        
                        //adding order to list if it is a new item
            if (new_item){
                        //sending item selected through ajax to get back the price of item.
                            $.ajax({
                                url: '/ajax/billing/item_price/',
                                data: {
                                    'item_name' : item,
                                    'store_id' : '{{store.id}}'
                                },
                                dataType: 'json',
                                success: function (data){
                                        let i = 0;
                                        var item_price = data.item_price;
                                        let cost = quantity * item_price;
                                        console.log("new item added & total:"+total);
                                        var item_row = '<tr id='+i+'> <td id="item">'+item+'</td> <td>'+quantity+'</td> <td>'+ item_price +'</td> <td id="cost">'+cost+'</td> <td><input type="checkbox" name="record"></td> </tr>';
                                        $("#cart_table").find('tbody').append(item_row);
                                        update_total();
                                        i++;


                                        order_obj = {
                                        "item":item,
                                        "quantity":quantity,
                                        "price": item_price,
                                        "cost": cost,
                                        }

                                        order_list_push(order_obj);
                                }
                            });
            }
            
        });
        
        function update_total(){
            total = 0;
            /*$("#cart_body").find(id="#cost").each(function(){
                cost = parseInt($(this).text());
                console.log("traversing through"+ )
                console.log("new item during totalling: "+ item);
                console.log("cost of new item: "+cost);*/
            var table = document.getElementById('cart_body');
            var rowLength = table.rows.length;
            for(let c=0; c<rowLength; c+=1){
                var row = table.rows[c];
                //cost cell on each row
                var cost = row.cells[3].innerHTML;
                console.log("cell: "+cost);
                total += parseInt(cost);
                console.log("UPDATED total_________________________________"+total);
                $("#total").text("Total: "+total);
            }
        }
        



        function order_list_push(){
            order_list.push(order_obj);
            for(let i in order_list){
                console.log(i+" item: "+order_list[i].item+" quantity:"+order_list[i].quantity+" price:"+order_list[i].price+" cost"+ order_list[i].cost)
            }
        } 

        function order_list_update(item,quantity, price, cost){
            index_of_update_item = order_list.findIndex(a => (a.item === item && a.quantity === a.quantity));
            update_item = order_list[index_of_update_item];
            update_item.quantity +=  quantity;
            update_item.cost = cost;
            console.log("updated item in order_list: "+ update_item.item+" quantity: " + update_item.quantity+" price:"+update_item.price+" cost"+ update_item.cost);
        }  

        

        $("#delete").click(function(){
            $("#cart_body").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    var delete_item_id = $(this).closest('tr').attr('id');
                    var item_cost = $(this).parent().prev().text();
                    var item_name = $(this).parent().prev().prev().prev().prev().text();
                    console.log(delete_item_id+ "testeritem: "+item_name+" deleting with cost : " +item_cost);
                    //removing from cart table
                    $(this).parents("tr").remove();
                    //removing the item from order list array
                    total = total - item_cost;
                    console.log("total after deleting item:"+total+"item_cost:"+item_cost );
                    $("#total").text("Total: "+total);
                    delete_from_order_list(item_name, item_cost);
                }
            });
        });

        function delete_from_order_list(item_name, item_cost)
        {
            console.log("entered delete function, item name:"+item_name+item_cost);
            //item to be removed be prepared as this object on delete click
            //remobj = {item:"samosa", quantity:"2", time:"Now" }
            find_index = order_list.findIndex(a => (a.item === item_name && a.quantity === a.quantity));
            console.log("index check"+find_index);
            if (find_index !== -1){
                order_list.splice(find_index,1);
                console.log("removed");
            }
            console.log("total:"+total);
            
            for(i in order_list){
                console.log("item:"+i+" "+order_list[i].item+" quantity:"+order_list[i].quantity+" prcie:"+order_list[i].price)
            }
            
    
        }
            
            

        //confirming purchase and saving to order table
        $(".confirm").click(function(){
                    if (order_list.length !== 0){
                                console.log("entered If");
                                buy_clicked = true;
                                /*store_detail_object = {
                                    'store': '{{store.id}}',
                                };
                                order_list.unshift(store_detail_object);*/
                                order_list_json = JSON.stringify(order_list);
                                console.log(order_list_json);
                                cash_or_card = $(this).data("id")
                                console.log(cash_or_card)
                                if (cash_or_card == 'card')
                                    {
                                        $('#card_section').attr("hidden",false);
                                        pin_no = $('#pin_no').val()
                                        return
                                    }
                                //device check
                                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                                    // true for mobile device
                                    console.log("mobile device");
                                    var device = 'mobile'
                                }
                                else{
                                    // false for not mobile device
                                    console.log("not mobile device");
                                    var device = 'desktop'
                                }


                                $.ajax({
                                    url: '/ajax/billing/invoice/',
                                    data:{
                                        'order_list_json':order_list_json,
                                        'total': total,
                                        'device': device,
                                        'cash_or_card': cash_or_card,
                                    },
                                    dataType: 'json',
                                    success: function (data){
                                        /*Swal.fire(
                                            'Bill confirmed',
                                            '<p>Invoice has been saved.<br/>(Direct printing option <br/> may not be available on smartphone browsers)<br/>You can find all bills at <strong>Your Bills</strong> option.<br/>Thanks for Shopping with Alltray!<p>',
                                            'success'
                                        ).then(function() {
                                            $("form").submit();
                                            location.reload();
                                        });
                                        */

                                        Swal.fire({
                                            title: 'Purchase Completed!',
                                            text: "Do you want to print the bill?",
                                            icon: 'success',
                                            showCancelButton: true,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Yes, print it'
                                          }).then((result) => {
                                            if (result.isConfirmed) {
                                                console.log("confirm pressed")
                                               form = document.getElementById("bill_print_form")
                                               form.submit()
                                               if (device == "mobile"){
                                                    var rowCount = cart_table.rows.length;
                                                    for (var i = rowCount - 1; i > 0; i--) {
                                                        cart_table.deleteRow(i);
                                                    }
                                                    total = 0;
                                                    subtotal = 0;
                                                    order_list = []
                                               }
                                            }
                                            else{
                                                location.reload()
                                            }
                                          })
                                    }
                                });
                                
                    }   
                    if (order_list.length === 0){
                        alert("no item in bill");
                    }  
            });
        $('#card_submit').click(function(){
            //device check
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                // true for mobile device
                console.log("mobile device");
                var device = 'mobile'
            }
            else{
                // false for not mobile device
                console.log("not mobile device");
                var device = 'desktop'
            }
            pin_no = $('#pin_no').val()
            if (pin_no == ''){
                alert('please enter card pin')
                return
            }
            $.ajax({
                url: '/ajax/billing/invoice/',
                data:{
                    'order_list_json':order_list_json,
                    'total': total,
                    'device': device,
                    'cash_or_card': cash_or_card,
                    'pin_no': pin_no,
                },
                dataType: 'json',
                success: function (data){
                    console.log(data.card_status)
                    console.log(typeof data.card_status)
                    if (data.card_status == 'card_invalid'){
                        Swal.fire(
                        'Invalid card',
                        'please click rfid button & try again',
                        'error',
                        ).then(function(){
                            document.getElementById("pin_no").value = ""
                            document.getElementById("alert").innerHTML =""
                            document.getElementById("pin_no").focus();
                            
                            return false
                        })
                    }
                    if (data.card_status == 'low_balance'){
                        Swal.fire(
                        'Oops',
                        'Low balance on card',
                        'error',
                        )
                        return
                    }
                    if (data.card_status == "transaction_completed"){
                        console.log(data.card_status)
                        
                        Swal.fire({
                            title: 'Purchase Completed!',
                            text: "Do you want to print the bill?",
                            icon: 'success',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, print it'
                          }).then((result) => {
                            if (result.isConfirmed) {
                                console.log("confirm pressed")
                               form = document.getElementById("bill_print_form")
                               form.submit()
                               if (device == "mobile"){
                                var rowCount = cart_table.rows.length;
                                for (var i = rowCount - 1; i > 0; i--) {
                                    console.log("entered loop")
                                    cart_table.deleteRow(i);
                                }
                                total = 0;
                                subtotal = 0;
                                order_list = []
                                }
                            }
                            else{
                                location.reload()
                            }
                          })
                        
                    }
                }
            });
                            
        });






    //clear cart on exit 
    window.onbeforeunload = function(event) {
        if (buy_clicked == false){
            event.returnValue = "exit";
            total = 0;
            subtotal = 0;
            }
    }


});    
  
        
</script>
{% endwith %}
{% endwith %}

</center>  
{% endblock %}