{% extends "tray/store_homepage_layout.html" %}

{% block title%} Welcome to All Tray {% endblock %}


{% block content %}
<center>
<br/><br/><br/>
<h1>enter otp of customer or scan card and submit</h1>
<h5>(this page can find only today's orders,<br/>
    to find orders from past please use 'Order list' option)</h5>
<br/>
<form action="/user_pickup_orders_post/" class="form" method="POST">
    {% csrf_token %}
<h3>OTP</h3>
<br/> 
<input type="text" id="otp" name="otp">
<br/> 
<input type="text" id="pin_no" name="pin_no" class="hideme">
<p id="alert" style="color:green" ></p>
<p id="incorrect_alert" style="color: rgba(207, 77, 77, 0.774); font-weight: 1000; width: fit-content;" ></p>
<button id="scan_card" type="button" class='confirm btn btn-warning'  data-id="card" >Rfid Card </button>
<br/> <br/>
<input type="button" id="enter" class="btn btn-primary" value="Submit">

</form>
<br/><br/>

<div class="card" style="width:22rem;">
  <div class="card-header">
    <h4>Store orders left today</h4>
  </div>
  <div class="card-body" style="text-align:left">
    <h5 class="card-title"></h5>
    <li class="card-text"><strong>First Break:</strong> {{first_break_orders}}</li>
    <li class="card-text"><strong>Lunch Break:</strong> {{lunch_break_orders}}</li>
    <li class="card-text"><strong>Last Break:</strong> {{last_break_orders}}</li>
    <li class="card-text"><strong>Other time Orders:</strong> {{other_orders}}</li>
  </div>
</div>

<br/>
<script>
//checking if pin or id card entered
    $(document).ready(function(){
      $("#scan_card").click(function(event){
        document.getElementById("pin_no").focus();
    });
    //on entering input to card field show message as card received
    $('#pin_no').on('input', function() {
        text = $('#pin_no').val();
        document.getElementById("alert").innerHTML = "Card received please click submit";
    });


        $("#enter").click(function(event){
            var otp = $("#otp").val();
            var card = $("#pin_no").val();
            console.log(otp+" otp value");
    if (otp=="" && card==""){
            document.getElementById("incorrect_alert").innerHTML = "Please enter otp or card"
            //$('#incorrect_alert').fadeOut(4000);
            //$('#otp').css("border-color","red");
            event.preventDefault();
        }

    else{       
                console.log("test on enter button otp");
    //sending form fields in ajax for checking if registered pin or card
            $.ajax({
                url: '/ajax/store_item_pickup_validate/',
                data: {
                    'otp': otp,
                    'card' : card
                },
                dataType: 'json',
                success: function (data){
                    console.log(data.incorrect_status)
                    if (data.incorrect_status == "incorrect_otp"){
                        //document.getElementById("incorrect_alert").innerHTML = "Sorry incorrect pin or unregistered card, please register if not registered and try again"
                        alert("Sorry incorrect otp, please try again");
                        event.preventDefault();
                    }
                    if (data.incorrect_status == "incorrect_card"){
                      //document.getElementById("incorrect_alert").innerHTML = "Sorry incorrect pin or unregistered card, please register if not registered and try again"
                      alert("Sorry incorrect card, please try again");
                      location.reload()
                    }

                    if(data.incorrect_status == "correct_otp" || data.incorrect_status == "correct_card"){
                        $("form").submit();
                    }


                        }
                      
            });
        }

    });
    });
        

</script>

<div class="row">
    
    <div class="col-sm-5">
        <a href="{% url 'store_home' %}" class="btn btn-info">Back</a>
    </div>
    <div class="col-sm-11">
    
    </div>
    </div>

</center>
{% endblock %}