{% extends "tray/base.html" %}


{% block title %} Store Home {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'billing' %}">Billing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_edit_details' %}">Edit Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_order_list' %}">Order list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_logout' %}">Logout</a>
      </li>
    </ul>
    
  </div>
</nav>
{% endblock %}


{% block content %}
<center>
<script>
//prevent navigating back to login
function preventBack() { 
        window.history.forward();  
    } 
      
    setTimeout("preventBack()", 0); 
      
    window.onunload = function () { null }; 
//script to reload the item list of store on nav back from add item page 
//so that just before deleted item would appear again overriding the hide()
if(performance.navigation.type == 2){
    location.reload(true);
 }
</script>

<h3>{{store.store_name}}<span id="status">({{status}})</span></h3>
<p style="font-style:unset;">Welcome to your {{store_name}}</p><br/>
<h4>Store status</h4>
<!--My switch from scratch-->
<button  type="button" id="store_status_button" style="width: fit-content;" class="btn btn-success">Store Open! </button>
<br/><br/>
<h4>Store balance: {{store.store_balance}}</h4>


<div class="btn-group" role="group" >
    <a href="{% url 'store_add_item' %}" class="btn btn-success">Add Items</a>
    <a href="{% url 'store_item_pickup' %}" class="btn btn-primary">Item pickup</a>
    <a href="{% url 'store_edit_details' %}" class="btn btn-success">Edit Store</a>
  </div>
<br/>  <br/>  

{% if items %}
<table  id="item_table" width="40%">
<thead>
    <tr>
        <th>Item </th>
        <th id="tt">Price/unit</th>
        <th>Stock</th>
        <th>Show</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody id="order_list_body">
{% for item in items %}
<tr height="50px" id="row">
    <td align="center">
        <p id="item_id" hidden>{{item.id}}</p>
        {{item.item}}
    </td>
    <td align="center">
        {{item.price}}
    </td>
    <td align="center">
        {{item.stock}}
    </td>
    <td align="center">
        <input type="checkbox" id="available" name="available" {% if item.available %} checked {% endif %} >
    </td>
    <td align="center">
        <form action="/edit_items_post/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="item_id" value={{item.id}}>
            <input type="hidden" name="store_id" value={{store_id}}>
            <button type="submit" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </form>
        <button class="btn btn-warning" id="delete" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </td>
</tr>


{% endfor %}



</tbody>
</table> <br/>


        <div class="btn-group" role="group" >   
            <a href="{% url 'store_add_item' %}" class="btn btn-success">Add Items</a>
            <a href="{% url 'store_order_list' %}" class="btn btn-primary">Order list</a>
            <a href="{% url 'store_item_pickup' %}" class="btn btn-success">Store item pickup</a>
        </div>

{% endif %}

<script>

var availability
var item_name

$(document).ready(function(){

//ticks the availabiltiy of item on clicking and updates same in db
    $("tr #available").on("click", function(){
        item_id = $(this).parent().prev().prev().prev().find("#item_id").html().trim();
        item_name = $(this).parent().prev().prev().prev().text().trim();
        if ($(this).is(":checked"))
        {
            // it is checked
            availability = 'available';
            console.log("Item: "+item_id+availability+"{{store_id}} is now available to buyers");
        }
        else 
        {
            //it is unchecked
            availability = 'unavailable';
        }


        $.ajax({
                            url: '/ajax/update_item_availability/',
                            data: {
                                'status' : 'availability_change',
                                'availability' : availability,
                                'item_id' : item_id,
                                'store_id' : '{{store_id}}'
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.available == "true") {
                                    console.log("Item: "+item_name+availability+"{{store_id}} is now available to buyers");
                                    //alert("Item is now available to buyers" );
                                }
                                else if (data.available == "false") {
                                    console.log("Item: "+item_name+" is now unavailable to buyers");
                                    //alert("Item is now unavailable to buyers");
                                }
                            }
                    
            }); 
    });


//store status button update onload of page
    if ('{{status}}' == "Open"){
            $("#store_status_button").attr("class", "btn btn-success");
            $("#store_status_button").text("Store {{status}}!");
            console.log("{{status}}");
        }

    else if ( '{{status}}' == "Closed" ){
          $("#store_status_button").attr("class", "btn btn-danger");
          $("#store_status_button").text("Store {{status}}");
          console.log("{{status}}");
        }




    //change store status on button click
    $("#store_status_button").click(function(){
      var q = $(this).attr("class");
    
      if (q == "btn btn-success"){
            console.log(false);
            var open = "Closed";
            $(this).attr("class", "btn btn-danger");
            $(this).text("Store Closed!");
      }
      else {
        console.log(true);
            $(this).attr("class","btn btn-success");
            $(this).text("Store Open!");
            var open = "Open";
      }
    
           //ajaxifying with jquery
           $.ajax({
        url: '/ajax/update_store_status/',
        data: {
            'open': open,
            'store_id': '{{store_id}}'
        },
        dataType: 'json',
        success: function (data) {
            if (data.is_open == "true") {
                alert("Store status updated as open");
                $("#status").text("(Open)");
            }
            else if (data.is_open == "false") {
                alert("Store status updated as closed");
                $("#status").text("(Closed)");
            }
        }
    
        }); 

    

      
    
    });
        
 
//delete item ajaxify
    $("tr #delete").on("click", function(){
        var choice = confirm("Are you sure to delete the item permanently from store?");
        if (choice){
            item_id = $(this).parent().prev().prev().prev().prev().find("#item_id").html().trim();
            console.log($(this).parent().prev().prev().prev().prev().find("#item_id").html());
            $(this).parent().parent().fadeOut(1000);
            $.ajax({
                            url: '/ajax/update_item_availability/',
                            data: {
                                'status' : 'delete_item',
                                'item_id' : item_id,
                                'store_id' : '{{store_id}}'
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.deleted == "true") {
                                 // ERRRORRRRR..   
                                    console.log($(this).parent().prev().prev().prev().prev().find("#item_id").html());
                                    $(this).parent().prev().fadeOut(2000);
                                   
                                }
                                else if (data.deleted == "false") {
                                    alert("Item: "+item_name+" not in list");
                                }

                            }
                        
            });
        }
        else{
            return;
        }
    });

    


});

  
 </script>



</center>
{% endblock %}