{% extends "tray/base.html" %}

{% block title%} Order list {% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store_home' %}">Store</a>
  </nav>
{% endblock %}

{% block content %}
<center>


<h1> Order list</h1>
<br/>
<table>
    <thead>
        <th>
            Month
        </th>
        <th>
            Total
        </th>
    </thead>

    <tbody>
        <tr>
            <td>{{current_month}}</td>
            <td>₹ {{month_total.cost__sum}}</td>
        </tr>
    </tbody>
</table>
<br/>
<strong id="no_delete_condition" style="color: red;"></strong>
<br/> <br/>

<!--Testing daterange-->
{% load item_filters %}
{% date_range as the_days %}

{% for day in the_days %}
   
    {% order_day_checker day as is_order_day %}

        {% if is_order_day %}
               
                    <table width="30%">
                    <thead>
                        
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Buyer
                        </th>
                        <th>
                            Status
                        </th>
                    </thead>
                
                <tbody>
                    <br/> <p>{{day.date}} </p>
                    <!--Now-->
                    {% break_checker day "Now" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">Orders now</td>
                    </tr>
                    {% endif %}  
            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Now' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {% if order.status %}
                            <span style="color: #4d9167;">Delivered</span>
                            {% else %}
                            <span style="color: #c05e40;">Not Delivered</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}


                    <!--First Break-->
                    {% break_checker day "First Break" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">First Break</td>
                    </tr>
                    {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'First Break' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {% if order.status %}
                            <span style="color: #4d9167;">Delivered</span>
                            {% else %}
                            <span style="color: #c05e40;">Not Delivered</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Lunch Break-->
            {% break_checker day "Lunch Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Lunch Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Lunch Break' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {% if order.status %}
                            <span style="color: #4d9167;">Delivered</span>
                            {% else %}
                            <span style="color: #c05e40;">Not Delivered</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Last Break-->
            {% break_checker day "Last Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Last Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Last Break' %}
                
                    <tr height="50px" id="{{order.id}}">
                        
                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.student.name}}
                        </td>
                        <td align="center">
                            {% if order.status %}
                            <span style="color: #4d9167;">Delivered</span>
                            {% else %}
                            <span style="color: #c05e40;">Not Delivered</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

                
        {% endif %} 
                </tbody>
{% endfor %}
</table>



<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
 
        </div>
        <div class="col-sm-3">
            <a href="{% url 'store_home' %}" class="btn btn-info">Store Home</a>
        </div>
    </div>
</div>

</center>
{% endblock %}