{% extends 'tray/store_homepage_layout.html' %}

{% block title%} Store bills {% endblock %}



{% block content %}
<h1>{{store.store_name}} Bills</h1>


<br/>
<table>
    <thead>
        <th>
            Month
        </th>
        <th>
            Total
        </th>
    </thead>

    <tbody>
        <tr>
            <td>{{current_month}}</td>
            <td>₹ {{month_total}}</td>
        </tr>
    </tbody>
</table>
<br/>
<strong id="no_delete_condition" style="color: red;"></strong>
<br/> <br/>

<!--Testing daterange-->
{% comment %} {% load item_filters %}
{% date_range as the_days %}

{% for day in the_days %}
   
    {% order_day_checker day as is_order_day %}

        {% if is_order_day %}
               
                    <table id="table" width="30%">
                    <thead>
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Buyer
                        </th>
                        <th>
                            Status
                        </th>
                    </thead>
                
                <tbody >
                    <br/> <p>{{day.date}} </p>

            {% for order in order_list %}

                {% if order.created_at.date == day.date %}
                
                    <tr height="50px" id="{{order.id}}">

                        <td align="center">
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {% if order.student.name %}
                                {{order.student.name}}
                            {% else %}
                                spot payed
                            {% endif %}
                        </td>
                        <td align="center">
                            {% if order.status %}
                            <span style="color: #4d9167;">Delivered</span>
                            {% else %}
                            <span style="color: #c05e40;">Not Delivered</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}


                
        {% endif %} 
                </tbody>
{% endfor %}
</table> {% endcomment %}





{% regroup order_list by created_at|date:"Y-m-d" as objects_by_day %}
{% for day in objects_by_day %}
<br/><br/>
<p>{{day.grouper}}</p>
<table id="table" width="30%">
    <thead>
        <th>
            Item
        </th>
        <th>
            Quantity
        </th>
        <th>
            Buyer
        </th>
        <th>
            Status
        </th>
    </thead>
    {% comment %} {% regroup day.list by pickup_time as order_list %} {% endcomment %}
    {% for order in day.list %}
<tbody >
    
  
   <tr height="50px" id="{{o.id}}">
        <td align="center">
            {{order.item}}
        </td>
        <td align="center">
            {{order.quantity}}
        </td>
        <td align="center">
            {% if order.student.name %}
                {{order.student.name}}
            {% else %}
                spot payed
            {% endif %}
        </td>
        <td align="center">
            {% if order.status %}
            <span style="color: #4d9167;">Delivered</span>
            {% else %}
            <span style="color: #c05e40;">Not Delivered</span>
            {% endif %}
        </td>
    </tr>
</tbody>

{% endfor %}
</table>
{% endfor %}




<div class="pagination">
    <span class="step-links">
        {% if order_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ order_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}.
        </span>

        {% if order_list.has_next %}
            <a href="?page={{ order_list.next_page_number }}">next</a>
            <a href="?page={{ order_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


<br/>

    <a href="{% url 'store_home' %}" class="btn btn-info">Back</a>

</center>

{% endblock %}