{% extends "tray/base.html" %}

{% block title%} Welcome to All Tray {% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'billing' %}">Billing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_order_list' %}">Order list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_bills' %}">Store bills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_logout' %}">Logout</a>
      </li>
    </ul>
    
  </div>
</nav>
{% endblock %}


{% block content %}
<center>
<br/><br/><br/>
<h3><strong>enter otp of customer</strong></h3>
<br/> <br/>
<form action="/user_pickup_orders_post/" class="form" method="POST">
    {% csrf_token %}
<label>OTP</label>
<br/> 
<input type="text" id="otp" name="student_otp"> 
<br/> <br/>
<p id="incorrect_alert" style="color: rgba(207, 77, 77, 0.774); font-weight: 1000; width: fit-content;" ></p>
<input type="button" id="enter" class="btn btn-primary" value="Enter">
</form>

<script>
//checking if pin or id card entered
    $(document).ready(function(){
        $("#enter").click(function(event){
            var otp = $("#otp").val();
            console.log(otp+" otp value");
    if (otp==""){
            document.getElementById("incorrect_alert").innerHTML = "Please enter otp"
            $('#incorrect_alert').fadeOut(4000);
            $('#otp').css("border-color","red");
            event.preventDefault();
        }

    else{       
                console.log("test on enter button otp");
    //sending form fields in ajax for checking if registered pin or card
            $.ajax({
                url: '/ajax/store_item_pickup_validate/',
                data: {
                    'otp': otp,
                },
                dataType: 'json',
                success: function (data){
                    if (data.incorrect_status == "incorrect_otp"){
                        //document.getElementById("incorrect_alert").innerHTML = "Sorry incorrect pin or unregistered card, please register if not registered and try again"
                        alert("Sorry incorrect otp, please try again");
                        event.preventDefault();
                    }
                    if(data.incorrect_status == "correct_otp"){
                        $("form").submit();
                    }


                        }
                      
            });
        }

    });
    });
        

</script>

<div class="row">
    
    <div class="col-sm-5">
        <a href="{% url 'store_home' %}" class="btn btn-info">Back</a>
    </div>
    <div class="col-sm-11">
    
    </div>
    </div>

</center>
{% endblock %}