{% extends "tray/base.html" %}

{% block title%} Order list {% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store_home' %}">Store</a>
  </nav>
{% endblock %}

{% block content %}

<h1> Order List</h1>

<table style="width:40%">
    <thead>
        <th>Name </th>
        <th>Items</th>
        <th>Quantity</th>
        <th>Pickup Time</th>
        <th>Cost</th>
        <th>Status</th>
    </thead>

        {% for order in orders%}
        <tbody>
    <td align="center">
    {{order.student.name}}
    </td>
    <td align="center">
    <p>items: {{order.item}}</p>
    </td>

    <td align="center">
     <p>quantity: {{order.quantity}}</p>
    </td>

    <td align="center">
     <p>time: {{order.pickup_time}}</p>
    </td>

    <td align="center">
     <p>cost: {{order.cost}}</p>
    </td>
    <td align="center">
     <p></p>
    </td>
</tbody>
{% endfor %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
 
        </div>
        <div class="col-sm-3">
            <a href="{% url 'store_home' %}" class="btn btn-info">Store Home</a>
        </div>
    </div>
</div>


{% endblock %}