{% extends "tray/store_homepage_layout.html" %}


{% block title %} Edit Store {% endblock %}



{% block content %}
<center>

<script>
    function validateForm() {
                var store_name = document.forms["form"]["store_name"].value;
                var store_description = document.forms["form"]["store_description"].value;
                if (store_name == "") {
                    document.getElementById("store_name").style.borderColor = "red";
                    return false;
                }
                if (store_description == "") {
                    document.getElementById("store_description").style.borderColor = "red";
                    return false;
                }
            }
</script>

<h2>Edit Store</h2>
<br/>
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <form action="/store_edit_details_post/" method="POST" name="form" onsubmit="return validateForm()" >
          {% csrf_token %}
          <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" id="store_name" name="store_name" value={{store.store_name}} required>
            <label class="form-label">Store name</label>
          </div>
          <div class="form-outline mb-4">
            <textarea type="text" class="form-control form-control-lg" id="store_description" name="store_description" rows="5" value={{store.store_details}} required></textarea>
            <label class="form-label">Store Description</label>
          </div>
          <input type="button" class="btn btn-success" value="submit" id="submit_button">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




    <script>
        $(document).ready(function(){
            //storing field variables to browser before reloading page
            //filling fields with values on reload
            window.onload=set_fields(); 
    
            function set_fields(){
                var store_name = sessionStorage.getItem('store_name');
                if (store_name !== null) $('#store_name').val(store_name);
                var store_description = sessionStorage.getItem('store_description');
                if (store_description !== null) $('#store_description').val(store_description);
            }
    
    
            
           
            window.onbeforeunload = function() {
                sessionStorage.setItem("store_name", $('#store_name').val());
                sessionStorage.setItem("store_description", $('#store_description').val());
                // ...
            }
    
            
    
            $("#submit_button").click(function (event) {
                var store_name = $("#store_name").val();
                var store_description = $("#store_description").val();
                 $.ajax({
                    url: '/ajax/store_edit_validate/',
                    
                    data: {
                        'store_name': store_name,
                        'college_id' : '{{college.id}}',
                        'store_id' : '{{store.id}}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.store_name_taken) {
                            alert("That store name is already taken, try another name");
                            location.reload();
                            return false;
                        }
                        else{
                            $("form").submit();
                        }
                    }
                });
                
               
                
        
            });
        });
        
        
        
    </script>
    <a href="{% url 'store_home' %}" class="btn btn-info">Back</a>
        </div>
        </div>


</center>
{% endblock %}