{% extends "tray/base.html" %}


{% block title %} Edit Pin {% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">

    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
    </ul>
    <li class="nav-item">
    <a class="nav-item" href="{% url 'store_logout' %}">Logout</a>
    </li>
</nav>
{% endblock %}



{% block content %}
<center>



<h3>Edit Password</h3>

<div class="form-group centered">
    <form action="/student_pin_edit_post/" method="POST" name="form">
    {% csrf_token %}
    <p>Password</p>
    <input type="text" name="password" id="password" class="form-control" required><br/><br/>
    <input type="submit" id="submit_button" value="Submit" class="btn btn-success">
    </form>
    </div>




    <script>
    /*    $(document).ready(function(){
           
            $("#submit_button").click(function (event) {
                var password = $("#password").val();
                console.log(password);

                $.ajax({
                    url: '/ajax/student_pin_edit_validate/',
                    
                    data: {
                        'pasword': password,
                        'student_id': '{{student.id}}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.) {
                            alert("Pin no already taken try another");
                            location.reload();
                            return false;
                        }
                        else{
                            $("form").submit();
                        }
                    }
                });
                
               
                
        
            });
        });
        
        
    */   
    </script>
    



</center>
{% endblock %}