{% extends "tray/homepage_layout.html" %}


{% block title %} Edit Pin {% endblock %}

{% comment %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'your_orders' %}">Your Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Recharge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_logout' %}">Logout</a>
      </li>
      
    </ul>
    
  </div>
</nav>
{% endblock %} {% endcomment %}



{% block content %}
<center>



<h3>Edit Password</h3>
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="form-group centered">
              <form action="/student_pin_edit_post/" method="POST" name="form">
              {% csrf_token %}
              <label class="form-label">New Password</label>
              <input type="text" name="password" id="password" class="form-control form-control-lg" required><br/><br/>
              <input type="submit" id="submit_button" value="Submit" class="green-button">
              </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



    <script>
    /*    $(document).ready(function(){
           
            $("#submit_button").click(function (event) {
                var password = $("#password").val();
                console.log(password);

                $.ajax({
                    url: '/ajax/student_pin_edit_validate/',
                    
                    data: {
                        'pasword': password,
                        'student_id': '{{student.id}}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.) {
                            alert("Pin no already taken try another");
                            location.reload();
                            return false;
                        }
                        else{
                            $("form").submit();
                        }
                    }
                });
                
               
                
        
            });
        });
        
        
    */   
    </script>
    



</center>
{% endblock %}