{% extends "tray/store_homepage_layout.html" %}


{% block title %} Edit User {% endblock %}



{% block content %}
<center>


<h2>Edit User</h2>
<br/>
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <form action="/user_edit/" method="POST" name="form" >
          {% csrf_token %}
          <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" id="email" name="email" value={{user.email}}>
            <label class="form-label">E-mail</label>
            <p id="incorrect_alert" style="color: rgba(207, 77, 77, 0.774);" ></p>
          </div>

          <input type="button" class="btn btn-success" value="submit" id="submit_button">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




    <script>
        $(document).ready(function(){
            //storing field variables to browser before reloading page
            //filling fields with values on reload
            /*window.onload=set_fields(); 
    
            function set_fields(){
                var store_name = sessionStorage.getItem('store_name');
                if (store_name !== null) $('#store_name').val(store_name);
                var store_description = sessionStorage.getItem('store_description');
                if (store_description !== null) $('#store_description').val(store_description);
            }
    
    
            
           
            window.onbeforeunload = function() {
                sessionStorage.setItem("store_name", $('#store_name').val());
                sessionStorage.setItem("store_description", $('#store_description').val());
                // ...
            }*/
    
            function checkemail(email){
                var re = /\S+@\S+\.\S+/;
                return re.test(email);
            }

    
            $("#submit_button").click(function (event) {
                var email = $("#email").val();
                email_valid_status = checkemail(email)
                //var store_description = $("#store_description").val();
                if (email_valid_status == false){
                  document.getElementById("incorrect_alert").innerHTML = "Please enter a valid email"
                  $("#email").css("border-color","red");
                  return false;
                }
                if (email==""){
                  document.getElementById("incorrect_alert").innerHTML = "Please enter an email"
                  $("#email").css("border-color","red");
                  return false;
                }
                 $.ajax({
                    url: '/ajax/user_edit_validate/',
                    data: {
                        "email":email
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.email_taken) {
                            alert("That email name is already taken, try another email");
                            return false;
                        }
                        else{
                          Swal.fire(
                            'Edit Successful',
                            '',
                            'success'
                            ).then(function() {
                                form.submit()
                            });
                        }
                    }
                });
                
            });
        });
    </script>
{% endblock %}