{% extends 'tray/base.html'%}

{% block content %}
<h1>You orders are:</h1>
<strong id="no_delete_condition" style="color: red;"></strong>
<br/> <br/>
<table width="40%">
    <thead>
        <th>
            Time
        </th>
        <th>
            Item
        </th>
        <th>
            Quantity
        </th>
        <th>
            Cost
        </th>
        <th>
            Cancellation
        </th>
        
    </thead>

{% for order in your_orders_now %}

    <tbody>
    <tr height="50px" id="{{order.id}}">
        <td align="center">
            {{order.pickup_time}}
        </td>

        <td align="center">
            {{order.item}}
        </td>
        <td align="center">
            {{order.quantity}}
        </td>
        <td align="center">
            {{order.cost}}
        </td>

        <td align="center">
           
        </td>
    </tr>
    </tbody>

    <script>
        $(document).ready(function(){
            $("#{{order.id}}").click(function(){
                console.log("entering ajax");
                var choice = confirm("Do you want to continue ?");
                if (choice == true){
                    $.ajax({
                        url: '/ajax/validate_order_cancel/',
                        data: {
                            'order_id': "{{order.id}}"
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.cancelled == 'success'){
                                $(this).hide();
                                alert("Item {{order.item1}} cancelled");
                            } 
                            else if (data.cancelled == 'failure'){
                                console.log("failed by last minute");
                                $("#no_delete_condition").text("Orders can be cancelled only upto atleast 1 hour before the time of pickup");
                            }
                            
                        }



                    });
                }
            });
        });
    </script>
{% endfor %}


{% for order in your_orders_first_break %}

    <tbody>
    <tr height="50px" id="{{order.id}}">
        <td align="center">
            {{order.pickup_time}}
        </td>

        <td align="center">
            {{order.item}}
        </td>
        <td align="center">
            {{order.quantity}}
        </td>
        <td align="center">
            {{order.cost}}
        </td>

        <td align="center">
            <button class="btn btn-danger" >Cancel</button>
        </td>
    </tr>
    </tbody>

    <script>
        $(document).ready(function(){
            $("#{{order.id}}").click(function(){
                console.log("entering ajax");
                var choice = confirm("Do you want to continue ?");
                if (choice == true){
                    $.ajax({
                        url: '/ajax/validate_order_cancel/',
                        data: {
                            'order_id': "{{order.id}}"
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.cancelled == 'success'){
                                console.log("reached success");
                                alert("Item {{order.item1}} cancelled");
                                $("#{{order.id}}").hide();
                            } 
                            else if (data.cancelled == 'failure'){
                                console.log("failed by last minute");
                                $("#no_delete_condition").text("Orders can be cancelled only upto atleast 1 hour before the time of pickup");
                            }
                            
                        }



                    });
                }
            });
        });
    </script>
{% endfor %}

<tbody>
{% for order in your_orders_lunch_break %}

    
    <tr height="50px" id="{{order.id}}">
        <td align="center">
            {{order.pickup_time}}
        </td>

        <td align="center">
            {{order.item}}
        </td>
        <td align="center">
            {{order.quantity}}
        </td>
        <td align="center">
            {{order.cost}}
        </td>

        <td align="center">
            <button class="btn btn-danger" >Cancel</button>
        </td>
    </tr>
    </tbody>

    <script>
        $(document).ready(function(){
            $("#{{order.id}}").click(function(){
                console.log("entering ajax");
                var choice = confirm("Do you want to continue ?");
                if (choice == true){
                    $.ajax({
                        url: '/ajax/validate_order_cancel/',
                        data: {
                            'order_id': "{{order.id}}"
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.cancelled == 'success'){
                                console.log("reached success");
                                alert("Item {{order.item1}} cancelled");
                                $("#{{order.id}}").hide();
                            } 
                            else if (data.cancelled == 'failure'){
                                console.log("failed by last minute");
                                $("#no_delete_condition").text("Orders can be cancelled only upto atleast 1 hour before the time of pickup");
                            }
                            
                        }



                    });
                }
            });
        });
    </script>
{% endfor %}


{% for order in your_orders_last_break %}

    <tbody>
    <tr height="50px" id="{{order.id}}">
        <td align="center">
            {{order.pickup_time}}
        </td>

        <td align="center">
            {{order.item}}
        </td>
        <td align="center">
            {{order.quantity}}
        </td>
        <td align="center">
            {{order.cost}}
        </td>
        <td align="center">
            <button class="btn btn-danger">Cancel</button>
        </td>
    </tr>
    </tbody>

    <script>
        $(document).ready(function(){
            $("#{{order.id}}").click(function(){
                console.log("entering ajax");
                var choice = confirm("Do you want to continue ?");
                if (choice == true){
                    $.ajax({
                        url: '/ajax/validate_order_cancel/',
                        data: {
                            'order_id': "{{order.id}}"
                        },
                        dataType: 'json',
                        success: function (data){
                            if (data.cancelled == 'success'){
                                console.log("reached success");
                                alert("Item {{order.item1}} cancelled");
                                $("#{{order.id}}").hide(200);
                            } 
                            else if (data.cancelled == 'failure'){
                                console.log("failed by last minute");
                                $("#no_delete_condition").text("Orders can be cancelled only upto atleast 1 hour before the time of pickup");
                            }

                        }



                    });
                }
            });
        });
    </script>
{% endfor %}



</table>



{% endblock %}