{% extends "tray/homepage_layout.html" %}

{% comment %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Recharge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_pin_edit' %}">Edit Pin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_logout' %}">Logout</a>
      </li>
      
    </ul>
    
  </div>
</nav>
{% endblock %} {% endcomment %}




{% block content %}
<center>
<h2>You orders are:</h2>
<p id="no_delete_condition" style="color:red ; display:none;">"Order can be cancelled only atleast one hour before the break of the order"</p>




<!--Testing daterange-->
{% comment %} {% load item_filters %}

{%pickup_date_range as today %}
{% for day in today %}

{% order_day_checker day as is_order_day %}

{% if is_order_day %}
       
            <table id='table' width="50%">
            <thead>
                
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    OTP
                </th>
                <th>
                    Cancellation
                </th>
                
            </thead>
        
        <tbody>
            <br/> <p>{{day.date}} </p>
            <!--Now-->
            {% break_checker day "Now" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Orders now</td>
            </tr>
            {% endif %}  
    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'Now' %}
        
            <tr height="50px">
                
                <td align="center">
                    <p id="order_id" hidden>{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" name="cancel">Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}


            <!--First Break-->
            {% break_checker day "First Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">First Break</td>
            </tr>
            {% endif %}

    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'First Break' %}
        
            <tr height="50px">
                
                <td align="center">
                    <p id="order_id" hidden >{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" >Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    <!--Lunch Break-->
    {% break_checker day "Lunch Break" as is_break %}
    {% if is_break %}
    <tr>
        <td colspan="5" align="center" style="background-color: #4eb7d4;">Lunch Break</td>
    </tr> 
    {% endif %}

    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'Lunch Break' %}
        
            <tr height="50px" >
                
                <td align="center">
                    <p id="order_id" hidden >{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" >Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    <!--Last Break-->
    {% break_checker day "Last Break" as is_break %}
    {% if is_break %}
    <tr>
        <td colspan="5" align="center" style="background-color: #4eb7d4;">Last Break</td>
    </tr> 
    {% endif %}

    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'Last Break' %}
        
            <tr height="50px" >
                
                <td align="center">
                    <p id="order_id" hidden >{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" name="cancel" >Cancel</button>
                </td>
            </tr>
        {% endif %}

    {% endfor %}

        
{% endif %} 
        </tbody>
{% endfor %}

</table>



{% your_orders_date_range as the_days %}
{% for day in the_days %}
   
    {% order_day_checker day as is_order_day %}

        {% if is_order_day %}
               
                    <table width="50%" id='table2'>
                    <thead>
                        
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Otp
                        </th>
                        
                        
                    </thead>
                
                <tbody>
                    <br/> <p>{{day.date}} </p>
                    <!--Now-->
                    {% break_checker day "Now" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">Orders now</td>
                    </tr>
                    {% endif %}  
            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Now' %}
                
                    <tr height="50px">
                        
                        <td align="center">
                            <p id="order_id" hidden>{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.otp}}
                        </td>
                        
                    </tr>
                {% endif %}
            {% endfor %}


                    <!--First Break-->
                    {% break_checker day "First Break" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">First Break</td>
                    </tr>
                    {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'First Break' %}
                
                    <tr height="50px">
                        
                        <td align="center">
                            <p id="order_id" hidden >{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.otp}}
                        </td>
                        
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Lunch Break-->
            {% break_checker day "Lunch Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Lunch Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Lunch Break' %}
                
                    <tr height="50px" >
                        
                        <td align="center">
                            <p id="order_id" hidden >{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.otp}}
                        </td>
                       
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Last Break-->
            {% break_checker day "Last Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Last Break</td>
            </tr> 
            {% endif %} {% endcomment %}

            {% comment %} {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Last Break' %}
                
                    <tr height="50px" >
                        
                        <td align="center">
                            <p id="order_id" hidden >{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center">
                            {{order.otp}}
                        </td>
                        <td align="center" >
                            <button class="btn btn-warning" id="cancel" name="cancel">Cancel</button>
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

                
        {% endif %} 
                </tbody>
{% endfor %}
</table> {% endcomment %}



<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        
          <div class="card-body p-5 text-center">

            <div class="input-box">
                <form id="search_form" action="/your_orders_search/">
                    
                <input type="text" class="form-control" placeholder= "search item name" id="search_input" name="search_input">
                <i class="fa fa-search" id="search"></i> 
                </form>   
                <p id="alerter"></p>  
                {% if search_status %}
                <p>{{search_status}}<p>     
                {% endif %}         
            </div>
            
        </div>
    
  </div>
</div>
</div>



{% regroup order_list by created_at|date:"Y-m-d" as objects_by_day %}
{% for day in objects_by_day %}
    <br/>
    <p>{{day.grouper}}</p>
        <table id='table' width="50%">
            <thead>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Buyer
                </th>
                <th>
                    Otp
                </th>
                <th>
                    Cancellation
                </th>
                
            </thead>
        
            {% regroup day.list by pickup_time as order_list %}
                {% for order in order_list %}
                <tbody>
                    <tr>
                        <td colspan=5 align="center" style="background-color: #4eb7d4;"><strong>{{order.grouper}}</strong></td>
                    </tr>
                    {% for o in order.list %}
                
                    <tr height="50px" id="{{o.id}}">
                        <td align="center">
                            <p id="order_id" hidden>{{o.id}}</p>
                            {{o.item}}
                        </td>
                        <td align="center">
                            {{o.quantity}}
                        </td>
                        <td align="center" id="name">
                            {{o.student.name}}
                        </td>
                        <td align="center">
                            {{o.otp}}
                        </td>
                        <td align="center" >
                            <button class="btn btn-warning" id="cancel" name="cancel">Cancel</button>
                        </td>
                    </tr>
                    
                </tbody>

                {% endfor %}
                {% endfor %}
        </table>
{% endfor %}






<div class="pagination">
    <span class="step-links">
        {% if order_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ order_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ order_list.number }} of {{ order_list.paginator.num_pages }}.
        </span>

        {% if order_list.has_next %}
            <a href="?page={{ order_list.next_page_number }}">next</a>
            <a href="?page={{ order_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>






<script>
    $(document).ready(function(){
    
        search_field = document.getElementById("search_input")
        {% if search_item %}
        search_field.value = "{{search_item}}"
        {% endif %}
        search_form = document.getElementById("search_form")
        $('#search').click(function () {
            if (search_field.value != ""){
                search_form.submit()
            }
            else{
                //window.location.href = "/store_order_list"
            }
        });
    });
        
       
    
</script>




<script>

$(document).ready(function(){     
            //table otp grouping 
            //table_grouper(2,'table');  
            //table_grouper(2,'table2');
            
        
            function table_grouper(grouping_cell,table_id){
                var table = document.getElementById(table_id);
                console.log(table);
                if (table  === null){
                    return;
                }
                var rowLength = table.rows.length;
                console.log("rowlength: "+rowLength);
                var prev_cell = null;
                var prev_follow_cell = null;
                for(let c=2; c<rowLength; c+=1){
                    var row = table.rows[c];
                    var cellLength = row.cells.length;
                    console.log("no of cells in row: "+ cellLength);
                    var group_cell = row.cells[grouping_cell];
                    if (group_cell === undefined){
                        continue;
                    }
                    console.log(group_cell.innerText);
                    console.log('rowspan of it: '+group_cell.rowSpan)
        
                    if (prev_cell === null || group_cell.innerText !== prev_cell.innerText){
                        prev_cell = group_cell;
                    }
                    else {
                        prev_cell.rowSpan++;
                        console.log('group cell: ' + group_cell)
                        group_cell.remove();
                    }
                    console.log('rowspan final: ' + prev_cell.rowSpan)
        
                }//end of for loop 
            }
        
            
            function follower_cell_grouper(grouping_cell,following_cell){
                var table = document.getElementById('table');
                var rowLength = table.rows.length;
                //alert(rowLength);
                console.log('following cell:' + following_cell)
                console.log('grouping cell:' + grouping_cell)
        
                for(let j=2; j<rowLength; j++){
                    
                    var row = table.rows[j];
                    var follow_cell = row.cells[following_cell];
                    if (follow_cell === undefined){
                        continue;
                    }
                    var group_cell = row.cells[grouping_cell];
                    if (group_cell === undefined){
                        continue;
                    }
                    console.log('group cell: ' + group_cell)
                    if (group_cell.rowSpan > 1){
                        cells_difference = group_cell.rowSpan - follow_cell.rowSpan
                        console.log('cell difference:' + cells_difference)
                        follow_cell.rowSpan = group_cell.rowSpan
                        for(let i=j+1; i<=j+cells_difference; i++){
                            console.log('i in j: ' + i)
                            console.log('j ' + j)
                            drop_row = table.rows[i];
                            console.log('drop row: ' + drop_row)
                            drop_cell = drop_row.cells[following_cell];
                            console.log('drop cell: ' + drop_cell.innerText);
                            drop_cell.remove();
                            rowLength--;
                        }
                    }
                    
                }
            }
    //cancels the clicked item from orders
        $("tr #cancel").on("click", function(){
            console.log($(this).parent().parent().find("#order_id").html().trim());
            //$(this).parent().prev().prev().prev().find("#order_id").html().trim();
            order_id = $(this).parent().parent().find("#order_id").html().trim();
            console.log(order_id);
            item_name = $(this).parent().parent().text().trim();
            //console.log(order_id);
            //var row = $(this).parent().parent();       
            $.ajax({
                                url: '/ajax/validate_order_cancel/',
                                data: {
                                    'order_id' : order_id
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.cancelled == "success") {
                                        alert(" order is cancelled" );
                                        location.reload();
                                    }
                                    else if (data.cancelled == "failure") {
                                        $("#no_delete_condition").fadeIn(1000).delay(4000).fadeOut(1000);
                                    }
                                    else if (data.cancelled == "already_delivered"){
                                        alert("Item already delivered, can't be cancelled");
                                    }
                                }
                        
                });  
        });
    });

</script>

{% endblock %}

{% block footer %} {% endblock %}