{% extends 'tray/base.html'%}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'entry' %}">Home</a>
  </li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_pin_edit' %}">Edit Pin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_logout' %}">Logout</a>
      </li>
      
    </ul>
    
  </div>
</nav>
{% endblock %}

{% block background %}
<div class="bg_infinite">
{% endblock %}

{% block content %}
<center class="frostprimary">
<h1>You orders are:</h1>
<p id="no_delete_condition" style="color:red ; display:none;">"Order can be cancelled only atleast one hour before the break of the order"</p>
<br/> <br/>

<!--Testing daterange-->
{% load item_filters %}

{%pickup_date_range as today %}
{% for day in today %}

{% order_day_checker day as is_order_day %}

{% if is_order_day %}
       
            <table width="30%">
            <thead>
                
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    OTP
                </th>
                <th>
                    Cancellation
                </th>
                
            </thead>
        
        <tbody>
            <br/> <p>{{day.date}} </p>
            <!--Now-->
            {% break_checker day "Now" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Orders now</td>
            </tr>
            {% endif %}  
    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'Now' %}
        
            <tr height="50px">
                
                <td align="center">
                    <p id="order_id" hidden>{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" name="cancel">Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}


            <!--First Break-->
            {% break_checker day "First Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">First Break</td>
            </tr>
            {% endif %}

    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'First Break' %}
        
            <tr height="50px">
                
                <td align="center">
                    <p id="order_id" hidden >{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" >Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    <!--Lunch Break-->
    {% break_checker day "Lunch Break" as is_break %}
    {% if is_break %}
    <tr>
        <td colspan="5" align="center" style="background-color: #4eb7d4;">Lunch Break</td>
    </tr> 
    {% endif %}

    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'Lunch Break' %}
        
            <tr height="50px" >
                
                <td align="center">
                    <p id="order_id" hidden >{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" >Cancel</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    <!--Last Break-->
    {% break_checker day "Last Break" as is_break %}
    {% if is_break %}
    <tr>
        <td colspan="5" align="center" style="background-color: #4eb7d4;">Last Break</td>
    </tr> 
    {% endif %}

    {% for order in orders %}
        {% if order.created_at.date == day.date and order.pickup_time == 'Last Break' %}
        
            <tr height="50px" >
                
                <td align="center">
                    <p id="order_id" hidden >{{order.id}}</p>
                    {{order.item}}
                </td>
                <td align="center">
                    {{order.quantity}}
                </td>
                <td align="center">
                    {{order.otp}}
                </td>
                <td align="center" >
                    <button class="btn btn-warning" id="cancel" name="cancel" >Cancel</button>
                </td>
            </tr>
        {% endif %}

    {% endfor %}

        
{% endif %} 
        </tbody>
{% endfor %}

</table>



{% your_orders_date_range as the_days %}
{% for day in the_days %}
   
    {% order_day_checker day as is_order_day %}

        {% if is_order_day %}
               
                    <table width="30%">
                    <thead>
                        
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Cancellation
                        </th>
                        
                    </thead>
                
                <tbody>
                    <br/> <p>{{day.date}} </p>
                    <!--Now-->
                    {% break_checker day "Now" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">Orders now</td>
                    </tr>
                    {% endif %}  
            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Now' %}
                
                    <tr height="50px">
                        
                        <td align="center">
                            <p id="order_id" hidden>{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}


                    <!--First Break-->
                    {% break_checker day "First Break" as is_break %}
                    {% if is_break %}
                    <tr>
                        <td colspan="5" align="center" style="background-color: #4eb7d4;">First Break</td>
                    </tr>
                    {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'First Break' %}
                
                    <tr height="50px">
                        
                        <td align="center">
                            <p id="order_id" hidden >{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Lunch Break-->
            {% break_checker day "Lunch Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Lunch Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Lunch Break' %}
                
                    <tr height="50px" >
                        
                        <td align="center">
                            <p id="order_id" hidden >{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <!--Last Break-->
            {% break_checker day "Last Break" as is_break %}
            {% if is_break %}
            <tr>
                <td colspan="5" align="center" style="background-color: #4eb7d4;">Last Break</td>
            </tr> 
            {% endif %}

            {% for order in orders %}
                {% if order.created_at.date == day.date and order.pickup_time == 'Last Break' %}
                
                    <tr height="50px" >
                        
                        <td align="center">
                            <p id="order_id" hidden >{{order.id}}</p>
                            {{order.item}}
                        </td>
                        <td align="center">
                            {{order.quantity}}
                        </td>
                        <td align="center" >
                            
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

                
        {% endif %} 
                </tbody>
{% endfor %}



</table>


<script>




$(document).ready(function(){

    //cancels the clicked item from orders
        $("tr #cancel").on("click", function(){
            order_id = $(this).parent().prev().prev().prev().find("#order_id").html().trim();
            item_name = $(this).parent().prev().prev().text().trim();
            console.log(order_id);
            var row = $(this).parent().parent();
            
            $.ajax({
                                url: '/ajax/validate_order_cancel/',
                                data: {
                                    'order_id' : order_id
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.cancelled == "success") {
                                        alert(item_name+" order is cancelled" );
                                        row.fadeOut(500);
                                    }
                                    else if (data.cancelled == "failure") {
                                        $("#no_delete_condition").fadeIn(1000).delay(4000).fadeOut(1000);
                                    }
                                    else if (data.cancelled == "already_delivered"){
                                        alert("Item already delivered, can't be cancelled");
                                    }
                                }
                        
                });  
        });
    });

</script>
</center>
{% endblock %}